<section class="content">
    <div class="container" ng-repeat="MembersData in model">
        <br>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" ng-src="{{MembersData.avatar}}" alt="">
            </div>
            <div class="col-sm-8">
                <dl class="dl-horizontal h3">
                    <dt><i class="fa fa-user"></i></dt>
                    <dd>{{MembersData.nameEN}}</dd>
                    <dt></dt>
                    <dd>{{MembersData.jobTitleEN}}</dd>
                    <dt></dt>
                    <dt><i class="fa fa-phone"></i></dt>
                    <dd>Office: {{MembersData.phone1}}</dd>
                    <dt></dt>
                    <dd>Lab: {{MembersData.phone2}}</dd>
                    <br>
                    <dt><i class="fa fa-envelope"></i></dt>
                    <dd>{{MembersData.email}}</dd>
                </dl>
            </div>
        </div>
        <hr>
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    <small>Lab Introduction & Major Research Interests</small>
                </h1>
                <p>{{MembersData.introduction}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    <small>Recent Representative Publication (* corresponding author)</small>
                </h1>
                <div>{{MembersData.publications}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <a class="btn btn-primary" href="#/members  "><span class="glyphicon glyphicon-chevron-left"></span>BACK</a>
            </div>
        </div>
    </div>
</section>
