<section class="section_member_form">
    
        
            
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-2">
                                    
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        <div class="item ">
                            <div class="row">
                                <div class="col-sm-2">
                                   
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    <a href="#"><img src="http://placehold.it/200x200" alt="Image" class="img-thumbnail img-circle img-responsive center-block"></a>
                                </div>
                                <div class="col-sm-2">
                                    
                                </div>
                            </div>
                            <!--/row-->
                        </div>
                        <!--/item-->
                        
                    </div>
                    <!--/carousel-inner-->
                    <a class="left carousel-control" href="#members_form#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                    <a class="right carousel-control" href="#members_form#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                </div>
                <!--/myCarousel-->
            
        
   
</section>
<section>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/300x300" alt="">
            </div>
            
            <div class="col-sm-8">

            <dl class="dl-horizontal h3">
              <dt><i class="fa fa-user"></i></dt>
              <dd>Wei Ting Chu</dd>
              <dt></dt>
              <dd>心理學系暨研究所</dd>
              <dt></dt>
              <dd>助理教授</dd><br>
              <dt><i class="fa fa-phone"></i></dt>
              <dd>辦公室: 886-2-33663112</dd>
              <dt></dt>
              <dd>研究室: 886-2-33663957</dd><br>
              <dt><i class="fa fa-envelope"></i></dt>
              <dd>wslai@ntu.edu.tw</dd>
            </dl>

                            
            </div>
        </div>
        <hr>
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1>
                    <small>Lab Introduction & Major Research Interests</small>
                </h1>
                <p>My laboratory, Laboratory of Integrated Neuroscience and Ethology (LINE), is a multi-disciplinary research laboratory which emphasizes the integrative understanding of the links between brain/mind and behaviors from multi-disciplinary approaches. My current research interests mainly focus on three lines of studies. (1) To study mouse models of psychiatric disorders and the possible role of AKT1 and other schizophrenia candidate genes (e.g., NRG1 and DISC1) in the pathogenesis of schizophrenia. (2) To investigate higher cognitive functions and reward-based decision making in both mice and humans. (3) To study social neuroscience and the neural basis of social learning and memory using hamsters as a model system.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                 <h1>
                    <small>Recent Representative Publication (* corresponding author)</small>
                </h1>
                <ol>
                    <li>Lai, W.S.*, Chang, C.Y., Wong, W.R., Pei, J.C., Chen, Y.S., Hong, W.L. Assessing schizophrenia-relevant cognitive and social deficits in mice: a selection of mouse behavioral tasks and potential therapeutic compounds. Current Pharmaceutical Design (In press).</li>
                    <li>Liu, Y.H., Lai, W.S., Tsay, H.J., Wang, T.W., Yu, J.Y.* Effects of maternal immune activation on adult neurogenesis in the subventricular zone-olfactory bulb pathway and olfactory discrimination. Schizophrenia Research, 151, 1-11, 2013 (DOI: 10.1016/j.schres.2013.09.007).</li>
                    <li>Chen, Y.W., Kao, H.Y., Min, M.Y., Lai, W.S.* A sex- and region-specific role of Akt1 in the modulation of methamphetamine-induced hyperlocomotion and striatal neuronal activity: implications in schizophrenia and methamphetamine-induced psychosis. Schizophrenia Bulletin (E-publication: March 8, 2013).</li>
                    <li>Chen, Y.C., Chen, Y.W., Hus, Y.F., Chang, W.T., Hsiao C.K., Min, M.Y., Lai, W.S.* AKT1 deficiency modulates reward learning and reward prediction error in Mice. Genes, Brain and Behavior, 11, 157-169, 2012.</li>
                    <li>Chen, Y.W., Lai, W.S.* Behavioral phenotyping of v-akt murine thymoma viral oncogene homolog 1-deficient mice reveals a sex-specific prepulse inhibition deficit in females that can be partially alleviated by glycogen synthase kinase-3 inhibitors but not by antipsychotics. Neuroscience, 174, 178-189, 2011.</li>
                    <li>Huang, C.H., Kuo, M.T., Lai, W.S.* Characterization of behavioural responses in different test contexts after a single social defeat in male golden hamsters (Mesocricetus auratus). Behavioural Processes, 86, 94-101, 2011.</li>
                    <li>Chen, Y.C., Lai, W.S.* Behavioural phenotyping of dopamine transporter knockdown mice using local small interference RNA. Behavioural Brain Research, 214(2), 475-479, 2010.</li>
                    <li>Lai, W.S. *, 2009. To beat or not to beat? Individual recognition and social memory in golden hamsters (ISBN 978-3-8383-1501-0). Lambert Academic Publishing, Köln, Germany.</li>
                    
                </ol>
            </div>
        </div>
    </div>
</section>
