<!-- Contact Section -->

<section>
    <div class="container">
    
    
    <div class="row">
        <div class="col-md-9"> </div>
        <div class="col-md-3">
            
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="姓名" />
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div><br>
    
        <div class="row">
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
        <br>
        <div class="row">
           <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#/members_form"><img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                </a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
        
</section>

