<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9"> </div>
            <div class="col-md-3">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="姓名" ng-model="tchName" />
                        <span class="input-group-btn">
                        <button class="btn btn-default btn-lg" type="button" ng-click="searchdataone()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" ng-repeat="Member in chunkedData">
            <br>
            <div class="col-xs-6 col-sm-3 text-center" ng-repeat="Members in Member">
                <a href="members/members_form_en/{{Members.memberNo}}"><img class="img-circle img-responsive center-block imgsize" ng-src="{{Members.avatar}}" alt=""></a>
                <h3>{{Members.nameEN}}</h3>
                <small>{{Members.nameZH_TW}}</small>
            </div>
        </div>
         <ul uib-pagination boundary-links="true" total-items="members.length" items-per-page="numPerPage" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</section>
