<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-header">                
                        <a class="navbar-brand " href="#" ng-click="home(1)">
                            <img src="img/pic/logo.JPG" alt="">
                        </a>
                </div>
                <!-- go to top -->
                <!-- <a id="to-top" href="#page-top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a> -->
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                <ul class="nav  nav-justified">
                    
                    <li>
                        <a class="text_white" href="#news"  ng-click="home()"><h4>最新消息1</h4></a>
                    </li>
                    <li>
                        <a class="text_white" href="#about" ng-click="home()"><h4>關於1</h4></a>
                    </li>
                    <li>
                        <a class="text_white" href="#instrument#page-top" ng-click="home()"><h4>實驗室</h4></a>
                    </li>
                    <li>
                        <a class="text_white" href="#members" ng-click="home()"><h4>成員</h4></a>
                    </li>
                    <li>
                        <a class="text_white" href="#credit" ng-click="home()"><h4>學分學程</h4></a>
                    </li>
                    <li>
                        <a class="text_white" href="#download" ng-click="home()"><h4>相關下載</h4></a>
                    </li>
                </ul>
            </div>

    </nav>