<section class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="row col-sm-12">
                <div class="col-sm-6">
                    <img class="img-responsive " src="http://placehold.it/450x350" alt="">
                    <br>
                    <img class="img-responsive " src="http://placehold.it/450x350" alt="">
                </div>
                <div id="home_hidden" class="col-sm-4">
                    <img class="img-responsive center-block" src="http://placehold.it/225x350" alt="">
                        <br>
                        <img class="img-responsive center-block" src="http://placehold.it/225x280" alt="">
                </div>
                <div class="col-sm-2" id="home_hidden">
                    <div class="row col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 layer_title "></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#news" ng-click="home()">最新消息</a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#about" ng-click="home()">關於</a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#instrument" ng-click="home()">實驗室</a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#members" ng-click="home()">成員</a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#credit" ng-click="home()">學分學程</a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#download" ng-click="home()">相關連結</a></div>
                    </div>
                    
                </div>
            
            <div class="col-sm-12 text-center text_white">
                <h3>關於大腦認知--></h3>
            </div>

        </div>
    </div>
    
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h2>最新消息</h2>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12">
                    <p class="col-sm-10">
                        台灣大學明治大學神經生物與認知科學研究交流會議
                    </p>
                    <p class="col-sm-2 text-muted">
                        演講
                    </p>
                    <small>
                                        2016.11.09
                                    </small>
                    <hr>
                    <p class="col-sm-10">
                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                    </p>
                    <p class="col-sm-2 text-muted">
                        研討會
                    </p>
                    <small>
                                        2016.10.27
                                    </small>
                    <hr>
                    <p class="col-sm-10">
                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                    </p>
                    <p class="col-sm-2 text-muted">
                        學分學程
                    </p>
                    <p class="col-sm-2 text-muted">
                        研討會
                    </p>
                    <small>
                                        2016.10.19
                                    </small>
                    <hr>
                    <p class="col-sm-10">
                        許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                    </p>
                    <p class="col-sm-2 text-muted">
                        學分學程
                    </p>
                    <small>
                                        2016.10.19
                                    </small>
                    <hr>
                    <p class="col-sm-10">
                        本學期12月1日開始開放學程申請,12月31日截止
                    </p>
                    <p class="col-sm-2 text-muted">
                        演講
                    </p>
                    <small>
                                        2016.10.17
                                    </small>
                    <hr>
                    <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的成員</h2>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <img src="img/ours.png" class="img-responsive center-block" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>地圖</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <img src="img/pic/map.JPG" class="img-responsive center-block" alt="">
        </div>
    </div>
</section>
