<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="IndexController" ng-init="homepage=true">

<head>
    <base href="/ncsc/" >
    <!-- <base href="/MyCode/HCI/ncsc_ntu/" > -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NCSC NTU</title>
    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="css/logo-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="css/angular-toastr.css" />
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script src="app.js"></script>
    <script src="js/angular-toastr.tpls.js"></script>
    <script src="lib/angular-base64/angular-base64.js"></script>
    <script type="text/javascript" src="about/controllers/AboutController.js"></script>
    <script type="text/javascript" src="news/controllers/NewsController.js"></script>
    <script type="text/javascript" src="instrument/controllers/InstrumentController.js"></script>
    <script type="text/javascript" src="members/controllers/MembersController.js"></script>
    <script type="text/javascript" src="credit/controllers/CreditController.js"></script>
    <script type="text/javascript" src="links/controllers/DownloadController.js"></script>
    <script type="text/javascript" src="IndexController.js"></script>
    <script type="text/javascript" src="home/controllers/HomeController.js"></script>
    <script src="js/angular-sanitize.js"></script>

    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
    

    <style>
        .active1 {
            background: #e6e6e6;
            color: #db717e;
        }
        
    </style>
</head>

<body id="page-top" class="index">   
    <div ng-if="!en" ng-class="{true: 'topbar navbar navbar-default navbar-fixed-top navbar-custom to-top', false: 'topbar navbar navbar-default navbar-fixed-top navbar-custom'}[homepage]">
        <div class="container">
            <div class="navbar-header page-scroll col-sm-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-header logo">
                    <a href="/ncsc/">
                        <img src="img/pic/ncsc_logo_white.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills nav-justified custom clickme">
                        <li>
                            <a class="text_white" href="news" ng-class="{'active1':  $location.path() == '/news'|| $location.path() == '/news/'|| $location.path() == '/news/news_more' || newsisActive==true}"><h4>最新消息</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="about" ng-class="{'active1':  $location.path() == '/about' || $location.path() == '/about/' ||aboutisActive==true}"><h4>關於我們</h4></a>
                        </li>
                        
                        <li>
                            <a class="text_white" href="members" ng-class="{'active1':  $location.path() == '/members' || $location.path() == '/members/' || membersisActive==true}"><h4>中心成員</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="credit" ng-class="{'active1':  $location.path() == '/credit' || $location.path() == '/credit/'}"><h4>學分學程</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="instrument" ng-class="{'active1':  $location.path() == '/instrument' || $location.path() == '/instrument/'}"><h4>核心設施</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="links" ng-class="{'active1':  $location.path() == '/links' || $location.path() == '/links/'}"><h4>相關連結</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="en" ng-class="{true: 'topbar navbar navbar-default navbar-fixed-top navbar-custom to-top', false: 'topbar navbar navbar-default navbar-fixed-top navbar-custom'}[homepage]">
        <div class="container">
            <div class="navbar-header page-scroll col-sm-12">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="navbar-header logo">
                    <a href="/ncsc/">
                        <img src="img/pic/ncsc_logo_white.png" alt="">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav nav-pills nav-justified custom clickme">
                        <li>
                            <a class="text_white" href="news_en" ng-class="{'active1':  $location.path() == '/news_en'|| $location.path() == '/news/news_en_more' || newsisActive==true}"><h4>news</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="about_en" ng-class="{'active1':  $location.path() == '/about_en' || aboutisActive==true}"><h4>about us</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="members_en" ng-class="{'active1':  $location.path() == '/members_en' || membersisActive==true}"><h4>members</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="credit_en" ng-class="{'active1':  $location.path() == '/credit_en'}"><h4>credit courses</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="instrument_en" ng-class="{'active1':  $location.path() == '/instrument_en'}"><h4>Laboratory Equipment</h4></a>
                        </li>
                        <li>
                            <a class="text_white" href="links_en" ng-class="{'active1':  $location.path() == '/links_en'}"><h4>related links</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
    <header>
        <div class="container">
        </div>
    </header>
    <div ui-view autoscroll="true"></div>
    <!-- Footer -->
    <footer>
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-9">
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-fw fa-phone"></i>
                            </li>
                            <li>
                                +886 - 2 - 33663827
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-fw fa-envelope"></i>
                            </li>
                            <li>
                                <a class="text_white" href="mailto:ntuncsc@ntu.edu.tw">ntuncsc@ntu.edu.tw</a>
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <i class="fa fa-fw fa-map-marker"></i>
                            </li>
                            <li>
                                10617 台北市羅斯福路四段1號
                            </li>
                            <li class="address_left">
                                心理系南館107室
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-3">
                        <div class="form-group" ng-if="en">                          
                            <select class="form-control phone_select" id="sel1" onchange="javascript:location.href = this.value;">
                                <option value="0" selected>語言</option>
                                <option value="{{page}}" id="ch">中文</option>
                                <option value="{{page}}_en" id="en">English</option>                       
                            </select>
                            <a href="geJSONt/RSS_EN.php" target="_blank">
                              <img src="images/rss.png" height="30" width="30">
                            </a>
                        </div>
                        <div class="form-group" ng-if="!en">                          
                            <select class="form-control phone_select" id="sel1" onchange="javascript:location.href = this.value;">
                                <option value="0" selected>Language</option>
                                <option value="{{page}}" id="ch" >中文</option>
                                <option value="{{page}}_en" id="en">English</option>
                            </select>                           
                            <a href="geJSONt/RSS.php" target="_blank">
                              <img src="images/rss.png" height="30" width="30">
                            </a>
                        </div>                                       
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2017 NCSC NTU
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap homepage hidden and show jQuery setting -->
    <script>
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            $('div.topbar').addClass('slide-effect');
        } else {
            $('div.topbar').removeClass('slide-effect');
        }
    });

    /* Bootstrap RWD Click MenuBar to close jQuery setting*/
    $(document).on('click', function() {
        $('.collapse').collapse('hide');
    })
    </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>
</body>

</html>
