<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-ng-if-production</title>
  <link href="animations.css" rel="stylesheet" type="text/css">
  

  <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
  <script src="//code.angularjs.org/snapshot/angular-animate.js"></script>
  <!--<script src="lib/angular-animate/angular-animate.js"></script>
  <script src="lib/angular/angular.min.js"></script>-->

  
</head>
<body ng-app="ngAnimate">
  <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/>
Show when checked:
<nav ng-if="checked" class="animate-if">
  This is removed when the checkbox is unchecked.
</nav>
</body>
</html>