<section class="content">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="instrument#Introduction" id="Introduction-tab" role="tab" data-toggle="tab" aria-controls="Introduction" aria-expanded="true"><h4 class="text_black">簡介</h4></a></li>
                    <li><a href="instrument#rules" role="tab" id="rules-tab" data-toggle="tab" aria-controls="file"><h4 class="text_black">設置辦法</h4></a></li>
                    <li> <a href="instrument#Regulations" role="tab" id="Regulations-tab" data-toggle="tab" aria-controls="Regulations"><h4 class="text_black">修課規定</h4></a></li>
                    <li><a href="instrument#Previous" role="tab" id="Previous-tab" data-toggle="tab" aria-controls="Previous"><h4 class="text_black">歷屆學長姐</h4></a></li>
                    <li><a href="instrument#FAQ" role="tab" id="FAQ-tab" data-toggle="tab" aria-controls="FAQ"><h4 class="text_black">FAQ</h4></a></li>
                    <li><a href="instrument#file" role="tab" id="file-tab" data-toggle="tab" aria-controls="file"><h4 class="text_black">文件下載</h4></a></li>
                </ul>
                <!-- 簡介 -->
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="Introduction" aria-labelledBy="Introduction-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <p>二十世紀後三十年有兩個蓬勃發展的新興學門：神經科學(neuroscience)與認知科學(cognitive science)。神經科學為了從多方向整合性的了解腦功能，結合了早先分散在生化、細胞、系統功能、行為、心理、人工智慧等等領域中有關神經細胞與神經系統的部分，再加上臨床醫學研究的部分形成的新學門。在短短的三十餘年間，呈現爆發性的成長。在Science Citation Index中Neuroscience領域的期刊已經兩百種；各個世界著名的第一流大學除了台大之外幾乎都早已成立了Neuroscience Program、Neuroscience Center或Department of Neurobiology等等整合神經科學的校內單位；在1970年代成立的北美神經科學學會。</p>
                                </div>
                            </div>
                            <!-- <br>
                            <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-2">
                                    <h3>設置辦法</h3>
                                    </div>
                                    <div class="col-sm-5">

                                    </div>
                                    
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <ol class="p">
                                            <li><p>本校此學程設置宗旨為：<br>  供神經生物學與認知科學領域完整的課程與訓練和促進參與學院間教學及研究的交流。</p> </li>
                                            <li><p>學生申請選讀本學程之資格及核可辦法為：</p></li>
                                            <li><p>學生應修學分須知：</p></li>
                                            <li><p>修畢本學程規定之課程，成績單申請須知：</p></li>
                                            <li><p>備註：</p></li>


                                        </ol>
                                    </div></div>




                                    <br>   

                                    <div class="row">

                                        <div class="col-sm-5">

                                        </div>
                                        <div class="col-sm-2">
                                            <h3>學長姊感言</h3>
                                            </div>
                                            <div class="col-sm-5">

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1">
                                                <div class="row">
                                                    <div class="col-sm-4 text-center">
                                                        <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                                    </div>

                                                    <div class="col-sm-8">

                                                       <div class="row"> </div><div class="row">　</div><div class="row">　</div>

                                                       <p>二十世紀後三十年有兩個蓬勃發展的新興學門：神經科學(與認知科學。神經科學為了從多方向整合性的了解腦功能，結合了早先分散在生化、細胞、系統功能、行為、心理、人工智慧等等領域中有關神經細胞與神經系統的部分，再加上臨床醫學研究的部分形成的新學門。</p>


                                                   </div>
                                                   <br>
                                               </div>
                                           </div>
                                       </div>
                                       <br>
                                       <div class="row">
                                        <div class="col-lg-10 col-lg-offset-1">
                                            <div class="row">
                                                <div class="col-sm-4 text-center">
                                                    <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                                </div>

                                                <div class="col-sm-8">

                                                   <div class="row"> </div><div class="row">　</div><div class="row">　</div>

                                                   <p>二十世紀後三十年有兩個蓬勃發展的新興學門：神經科學(與認知科學。神經科學為了從多方向整合性的了解腦功能，結合了早先分散在生化、細胞、系統功能、行為、心理、人工智慧等等領域中有關神經細胞與神經系統的部分，再加上臨床醫學研究的部分形成的新學門。</p>


                                               </div>
                                               <br>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-10"></div>
                                    <div class="col-sm-2"><h3><small class="pull-right">閱讀更多</small></h3></div>
                                </div>
                            </div> -->
                        </div>
                        </div>
                        <!-- 簡介 END -->
                        <!-- 設置辦法-->
<div role="tabpanel" class="tab-pane fade" id="rules" aria-labelledBy="Previous-tab">
    <div class="container">
                                    <div class="row">
                                <div class="col-sm-5">
                                </div>
                                <div class="col-sm-2">
                                    <h3>設置辦法</h3>
                                    </div>
                                    <div class="col-sm-5">

                                    </div>
                                    
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <ol class="p">
                                            <li><p>本校此學程設置宗旨為：<br>  供神經生物學與認知科學領域完整的課程與訓練和促進參與學院間教學及研究的交流。</p> </li>
                                            <li><p>學生申請選讀本學程之資格及核可辦法為：</p></li>
                                            <li><p>學生應修學分須知：</p></li>
                                            <li><p>修畢本學程規定之課程，成績單申請須知：</p></li>
                                            <li><p>備註：</p></li>


                                        </ol>
                                    </div></div>






        </div>
    </div>
    <!-- 設置辦法 END-->
                        <!-- 修課規定 -->
                        <div role="tabpanel" class="tab-pane fade" id="Regulations" aria-labelledBy="Regulations-tab">
                            <div class="container">
                                <br>
                                <div class="row" >
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <div class="row">
                                            <blockquote class="blockquote_credit">
                                                <p>中心必修課</p>
                                            </blockquote>
                                            <div  ng-repeat="Course_Rules in course_rules | filter:{'courseType':'1'}:true">
                                                <blockquote class="blockquote_font">
                                                <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}） <a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                                </blockquote>
                                            </div> 
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <blockquote class="blockquote_credit">
                                        <p>進階課一</p>
                                    </blockquote>
                                        <div  ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'2'}:true">
                                            <blockquote class="blockquote_font">
                                            <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                            </blockquote>
                                        </div>

                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="row">
                            <blockquote class="blockquote_credit">
                                <p>進階課二</p>
                            </blockquote>
                            <div  ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'3'}:true">
                                <blockquote class="blockquote_font">
                                    <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                </blockquote>
                            </div>

                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <blockquote class="blockquote_credit">
                        <p>選修課</p>
                    </blockquote>
                    <div  ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'4'}:true">
                        <blockquote class="blockquote_font">
                            <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                        </blockquote>
                    </div>

        </div>
    </div>
</div>
</div>
</div>
<!-- 修課規定 END-->
<!-- 歷屆學長姊-->
<div role="tabpanel" class="tab-pane fade" id="Previous" aria-labelledBy="Previous-tab">
    <div class="container">
        <br>
        <div class="row" ng-repeat="Course_Graduate in course_graduate">
            <br>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <img class="img-circle img-responsive center-block" src="{{Course_Graduate.avatar}}" alt="">
                        <h3>{{Course_Graduate.nameZH_TW}}</h3>
                        <small>{{Course_Graduate.description}}</small>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">　</div>
                        <p>{{Course_Graduate.contentZH_TW}}</p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>
        
        <!-- <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-10"></div>
                <div class="col-sm-2">
                    <h3><small class="pull-right">閱讀更多</small></h3></div>
                </div>
            </div>
        </div> -->
    </div>
    </div>
    <!-- 歷屆學長姊 END-->
    <!-- FAQ-->
    <div role="tabpanel" class="tab-pane fade" id="FAQ" aria-labelledBy="FAQ-tab">
        <div class="container ">
            <div class="row">
                <br>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="panel-group" id="faqAccordion">
                        <div class="panel panel-default ">
                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                                <h4 class="panel-title">
                                    1. 常問的中文問題?
                                </h4>
                            </div>
                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                 <h5><span class="label label-primary">Answer</span></h5>

                                 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five <a href="http://jquery2dotnet.com/" class="label label-success">http://jquery2dotnet.com/</a> centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                 </p>
                             </div>
                         </div>
                     </div>
                     <br>
                     <div class="panel panel-default ">
                        <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                         <h4 class="panel-title">
                            2. 常問的中文問題?
                        </h4>
                    </div>
                    <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Answer</span></h5>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                        <h4 class="panel-title">
                            3. 常問的中文問題?
                        </h4>
                    </div>
                    <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Answer</span></h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="panel panel-default ">
                    <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                        <h4 class="panel-title">
                            4. 常問的中文問題?
                        </h4>
                    </div>
                    <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                        <div class="panel-body">
                            <h5><span class="label label-primary">Answer</span></h5>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <!--/panel-group-->
        </div>
    </div>
</div>
<!-- FAQ END-->
</div>
<!-- file-->
<div role="tabpanel" class="tab-pane fade" id="file" aria-labelledBy="file-tab">
    <div class="container">
        <div class="row">
            <br>
            <div class="col-lg-10 col-lg-offset-1">
                <table class="table table-hover" ng-repeat="Course_Downloads in course_downloads">
                    <tbody>
                        <tr>
                            <td class="col-md-8">
                                <p>{{Course_Downloads.title}}</p>
                            </td>
                            <td class="col-md-4">
                                <p><a href="{{Course_Downloads.fileLink}}"><i class="fa fa-download" aria-hidden="true"></i> 下載檔案</a></p>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- FAQ file-->
</div>
</div>
</div>
</section>
