<section class="content credit">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="credit#Introduction" id="Introduction-tab" role="tab" data-toggle="tab" aria-controls="Introduction" aria-expanded="true"><h4 class="text_black">源起與簡介</h4></a></li>
                    <li><a href="credit#rules" role="tab" id="rules-tab" data-toggle="tab" aria-controls="file"><h4 class="text_black">設置辦法</h4></a></li>
                    <li> <a href="credit#Regulations" role="tab" id="Regulations-tab" data-toggle="tab" aria-controls="Regulations"><h4 class="text_black">修課規定</h4></a></li>
                    <li><a href="credit#FAQ" role="tab" id="FAQ-tab" data-toggle="tab" aria-controls="FAQ"><h4 class="text_black">常見問題</h4></a></li>
                    <li><a href="credit#Previous" role="tab" id="Previous-tab" data-toggle="tab" aria-controls="Previous"><h4 class="text_black">心得分享</h4></a></li>
                    <li><a href="credit#file" role="tab" id="file-tab" data-toggle="tab" aria-controls="file"><h4 class="text_black">文件下載</h4></a></li>
                </ul>
                
                <div id="myTabContent" class="tab-content ">
                    <!-- 簡介 -->
                    <div role="tabpanel" class="tab-pane fade in active" id="Introduction" aria-labelledBy="Introduction-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <h4>學程源起：</h4>
                                    <p>為推動神經生物與認知科學之整合教育與訓練，本校於2005年設立「神經生物與認知科學研究中心」，並於2006年開始設立及推動「神經生物與認知科學學分學程」。學程學生需修習統計、心理、神經科學等基礎與進階課程，以及實驗及專題研究等選修課程共22學分。經由上課及實作達到完整訓練的教育目標，並獲頒神經生物與認知科學中心授予之正式學程證明。</p>
                                    <h4>修習學分學程優勢：</h4>
                                    <ol>
                                        <li>優先修習台大神經生物與認知科學相關課程。</li>
                                        <li>擁有新世代跨領域知識與學分證明。</li>
                                        <li>得到申請國內外相關研究所的指引與建議。</li>
                                        <li>獲得參與實驗室研究及探尋人類最後一個未知領域的機會。</li>
                                    </ol>
                                    <h4>學程規劃：</h4>
                                    <p>「神經生物與認知科學學分學程」之課程規劃包含必修課、進階課、及選修課三部分。必修課為進入神經生物與認知科學學分學程之學士班或研究生需先修習學程之基本概論課程。進階課為從基礎必修課程延伸之進階課程，需從進階課程一及二中各選修一門課程。選修課為根據學生自己的學習興趣與研究方向，從進階課中再選修或從公布的本校相關選修課中選修。有鑒於神經生物及認知科學均非常注重操作的實驗訓練，因此學程學生均需修習統計、專題研究、心理實驗法、神經生物相關實驗等實驗課程。經由上課及實作達到完整訓練的教育目標。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 簡介 END -->
                    <!-- 設置辦法-->
                    <div role="tabpanel" class="tab-pane fade" id="rules" aria-labelledBy="Previous-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div id="content_course">
                                        <h2>『神經生物與認知科學學分學程』設置辦法</h2>
                                        <div class="note2"><p>神經生物與認知科學中心第三次會議通過</p>
                                            <p>動物所94學年度第四次所務會議通過</p>
                                            <p>心理系94學年度第五次系務會議通過</p>
                                            <p>95.6.2 94學年度第二學期第三次教務會議通過</p>
                                            <p>100.8.26 神經生物與認知科學研究中心學程委員會修改通過</p>
                                            <p>100.10.14  100學年度第一學期第一次教務會議通過</p>
                                            <p>102.3.26 神經生物與認知科學研究中心學程委員會修改通過</p>
                                            <p>102.6.7  101學年度第二學期第二次教務會議通過</p>
                                        </div>
                                        
                                    <ul>
                                         <span>第一條</span><li>國立臺灣大學(以下簡稱本校) 『神經生物與認知科學學分學程』(以下簡稱本學程)由本校神經生物與認知科學研究中心(以下簡稱本中心)主辦，本校生命科學院動物所與理學院心理系協辦。</li>
                                         <span>第二條&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本學程設置宗旨為：</span><li>
                                            <ul class="text_2">
                                                <li>1. 提供神經生物學與認知科學領域完整的課程與訓練。</li>
                                                <li>2. 促進參與學院間教學及研究的交流。</li>
                                            </ul></li>
                                         <span>第三條</span><li>本學程授課師資為參與本中心運作之各學院教師。</li>
                                         <span>第四條</span><li>學生應修習所有規定之中心必修課，並從認知科學與神經生物學進階課程中各選修一門課程，再從兩類進階課或中心所列之相關選修課中選修一門課。</li>
                                         <span>第五條</span><li>學生需依上述規定修畢本學程課程至少二十二學分，其中至少應有九學分不屬於學生主系所、加修學系、輔系必修科目，始能獲得學程學分證明。</li>
                                         <span>第六條</span><li>本學程所需資源之安排與行政管理事項由本中心負責統籌執行。</li>
                                         <span>第七條</span><li>本學程每學期校內招生名額以五十人為原則，本中心得視學程運作情況，決定年度實際招生人數。</li>
                                         <span>第八條&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;申請選讀本學程之資格及核可辦法為：</span><li>
                                1.    本校學士班一年級以上(含)，得申請修讀本學程。若曾於他校或其他機構修習相同程度課程，經學校核定可抵免者，須檢附課程大綱於申請時一併繳交。
                                2.    本學程於每學期結束時接受下一學期之申請。申請同學須向本中心提出修讀學程申請書並檢附歷年成績單。
                                3.    本中心應組成委員會負責審查修讀本學程之申請案件，並擇優錄取。申請核准名單於每學期上課開始前公布。
                                </li>
                                         <span>第九條</span><li>學程學生修畢本學程規定之課程，應於成績確定後主動附歷年成績單一份，填寫學分審查表向本中心提出申請，經由本中心審核通過並簽請教務長以及校長同意後，授與『神經生物與認知科學學程』學分證明。</li>
                                         <span>第十條</span><li>經核定修讀本學程，而未修畢本學程學分之學士班或碩士班生，若成為本校碩、博士班學生，得繼續修習本學程，其已修習之學分數併入計算。</li>
                                         <span>第十一條</span><li>本辦法未盡事宜，悉依本校相關規定辦理。</li>
                                         <span>第十二條</span><li>本辦法經本中心、動物所與心理系通過，並提請生命科學院及理學院會簽後，送教務會議通過公告實施；修正時亦同。</li>
                                    </ul>   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 設置辦法 END-->
                    <!-- 修課規定 -->
                    <div role="tabpanel" class="tab-pane fade" id="Regulations" aria-labelledBy="Regulations-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <blockquote class="blockquote_credit">
                                            <p>必修課</p>
                                        </blockquote>
                                        <div ng-repeat="Course_Rules in course_rules | filter:{'courseType':'1'}:true">
                                            <blockquote class="blockquote_font">
                                                <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}） <a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <blockquote class="blockquote_credit">
                                            <p>進階課</p>
                                        </blockquote>
                                        <div ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'2'}:true">
                                            <blockquote class="blockquote_font">
                                                <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <blockquote class="blockquote_credit">
                                            <p>選修課</p>
                                        </blockquote>
                                        <div ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'3'}:true">
                                            <blockquote class="blockquote_font">
                                                <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <blockquote class="blockquote_credit">
                                            <p>其他</p>
                                        </blockquote>
                                        <div ng-repeat="Course_Rules in course_rules  | filter:{'courseType':'4'}:true">
                                            <blockquote class="blockquote_font">
                                                <p>{{Course_Rules.courseNameZH_TW}}（{{Course_Rules.credits}}）<a tabindex="0" popover-placement="right" uib-popover="{{Course_Rules.noteZH_TW}}" popover-trigger="focus" class="text-danger" ng-if="Course_Rules.noteZH_TW"> 註 </a></p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修課規定 END-->
                    <!-- 歷屆學長姊-->
                    <div role="tabpanel" class="tab-pane fade" id="Previous" aria-labelledBy="Previous-tab">
                        <div class="container">
                            <br>
                            <div class="row" ng-repeat="Course_Graduate in course_graduate">
                                <br>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <img class="img-circle img-responsive center-block" ng-src="{{Course_Graduate.avatar}}" alt="">
                                            <h3>{{Course_Graduate.nameZH_TW}}</h3>
                                            <small>{{Course_Graduate.description}}</small>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="row">　</div>
                                            <p>{{Course_Graduate.contentZH_TW}}</p>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- 歷屆學長姊 END-->
                    <!-- FAQ-->
                    <div role="tabpanel" class="tab-pane fade" id="FAQ" aria-labelledBy="FAQ-tab">
                        <div class="container ">
                            <div class="row">
                                <br>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="panel-group" id="faqAccordion">
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                                                <h4 class="panel-title">1. 現為本校研究所學生，大學部時為外校，如何充抵外校已修學分?</h4>
                                            </div>
                                            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>本校研究生，曾於本校學士班時期修習之科目學分，經本校各學程同意者，可直接採  計學程之學分。　若係曾於外校學士班時期修習之科目學分，原則上不予承認，但若該科目學分業已依本校「學生抵免學分辦法」之規定，經由研究生就讀系所核准抵免並印在本校歷年成績表上者，則可經本校各學程同意後，採計為學程之學分。若大學非本校學生請向教務處提出課程抵免，詳細抵免方式請向教務處詢問，建議即刻提出申請以免有時效性問題。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                                                <h4 class="panel-title">2. 在此學程的修課說明中，普通心理學和普通生物學是標示三學分，若只修一學期的三學分，如此還需要修下下學期的三學分嗎?如果需要，那多出的三學分可以作為選修學分嗎？</h4>
                                            </div>
                                            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>依照學分學程修習規定，普心只需3學分，普生也只需3學分，因此超出3學分的普心或普生均可以滿足學程需求，但多出的學分不可作為選修學分。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                                                <h4 class="panel-title">3. 依課程描述，有的課有要求先修科目，有的課有限本系所學生之規定要如何不被擋修呢？</h4>
                                            </div>
                                            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>所有課程之先修科目規定，均尊重開課老師安排。本學程課程之”限本系所學生”規定，學程可以協助與開課系所及老師協商。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                                                <h4 class="panel-title">4. 此學程有要求三學分的統計，是否任何科系開的3學分統計課，學程都承認？</h4>
                                            </div>
                                            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>任何科系開的3學分以上(含)統計課，均滿足學程要求。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
                                                <h4 class="panel-title">5. 神經生物與認知科學學程的中心必修課中要求參與專題研究，有哪些教授的實驗室是開放給本學程的學生選修的呢?另外，在申請學程之前是否要先經過該實驗室的老師許可呢?</h4>
                                            </div>
                                            <div id="question4" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>同學只要找有課號的任何老師的獨立研究或專題研究都可，但先要任課老師同意接受。如果沒有課號，歡迎老師新開，請同學與老師協商同意開課後，立即向學程反應。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
                                                <h4 class="panel-title">6. 學分學程必修課表「專題研究」一項中可否以「學士論文」或「碩士論文」充抵?</h4>
                                            </div>
                                            <div id="question5" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>必修課程中的專題研究可以以神經生物或認知科學相關之碩士論文、博士論文充抵。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
                                                <h4 class="panel-title">7. 神經生理實驗或神經解剖實驗都不能抵神經生物實驗嗎?</h4>
                                            </div>
                                            <div id="question6" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>神經生物實驗為入門實驗，性質不同於研究所課程，所以無法以神經生理實驗，神經解剖實驗或其他專業實驗課程充抵。建議同學修習神經生物實驗。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
                                                <h4 class="panel-title">8. 是否可以先修神經生物實驗再修神經生物學?</h4>
                                            </div>
                                            <div id="question7" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>雖然此二門課程均無先修規定，仍建議同學先修神經生物學，有了基本概念後再修實驗課。</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
                                                <h4 class="panel-title">9. 畢業前沒有修完學程規定學分可否拿到學分證明？</h4>
                                            </div>
                                            <div id="question8" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>畢業前沒有修完無法拿到學分證明。但同學可以在研究所繼續修習。另外延畢的規定如下：依本校「跨院系所學程設置準則」第七條之規定：「修讀學分學程學生，已符合本學系、所畢業資格而尚未修滿學程規定之科目與學分，得向教務處申請延長修業年限，至多以二年為限，但總修業年限仍應符合大學法修業年限規定。」</p>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel panel-default ">
                                            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
                                                <h4 class="panel-title">10. 學程是否有建議課程修習順序?
</h4>
                                            </div>
                                            <div id="question9" class="panel-collapse collapse" style="height: 0px;">
                                                <div class="panel-body">
                                                    <p>沒有，原則上學程的課程都是獨立的課程。</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- FAQ END-->
                    </div>
                    <!-- file-->
                    <div role="tabpanel" class="tab-pane fade" id="file" aria-labelledBy="file-tab">
                        <div class="container">
                            <div class="row">
                                <br>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12" ng-repeat="Course_Downloads in course_downloads |orderBy:'date':true">
                                        <div class="col-sm-10">
                                            <p>
                                                {{Course_Downloads.title}}
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a target="_blank" href="{{Course_Downloads.fileLink}}"><i class="fa fa-download" aria-hidden="true"></i> 下載檔案</a>
                                        </div>
                                        <div class="col-sm-12 downdate">
                                            <small>
                                                {{Course_Downloads.createdDate}}
                                            </small>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FAQ file-->
                </div>
            </div>
        </div>
    </div>
</section>
