<section class="content">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-5 col-md-4  text-center">
                <img class="img-circle img-responsive center-block imgsize_form" ng-src="images/graduate1.png" alt="">
            </div>
            <div class="col-sm-7 col-md-8" ng-repeat="Model in model">
                <dl class="dl-horizontal h3">
                    <dt class="members_icon_phone"><i class="fa fa-user"></i></dt>
                    <dd class="members_content_phone">{{Model.Name_EN}}</dd>
                    <dt></dt>
                    <dd class="members_content_phone">{{Model.title_EN}}</dd>
                    <dt></dt>
                    <dt class="members_content_phone icon_hight"><i class="fa fa-phone"></i></dt>
                    <dd class="members_content_phone">{{Model.phone}}</dd>
                    <dt></dt>
                    <dt class="members_content_phone icon_hight"><i class="fa fa-envelope"></i></dt>
                    <dd class="members_content_phone">{{Model.mail}}</dd> 
                </dl>
            </div>
        </div>
        <hr>        
        <div class="row">
            <div class="col-md-1 col-md-offset-11">
                <a class="btn btn-primary btn_right" href="about_en  "><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
            </div>
        </div>
    </div>
</section>