<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
        </div>
    </div>
</div>
<section class="content">
    <div class="aboutimg" style="background-image: url(img/pic/about.png);"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="aboutTitle">簡介</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p>二十世紀後三十年有兩個蓬勃發展的新興學門：神經科學(neuroscience)與認知科學(cognitive science)。神經科學為了從多方向整合性的了解腦功能，結合了早先分散在生化、細胞、系統功能、行為、心理、人工智慧等等領域中有關神經細胞與神經系統的部分，再加上臨床醫學研究的部分形成的新學門。在短短的三十餘年間，呈現爆發性的成長。在Science Citation Index中Neuroscience領域的期刊已經兩百種；各個世界著名的第一流大學除了台大之外幾乎都早已成立了Neuroscience Program、Neuroscience Center或Department of Neurobiology等等整合神經科學的校內單位；在1970年代成立的北美神經科學學會（Society for Neuroscience）現有會員三萬餘人，其年會的規模已取代生物醫學聯合年會，成為生物醫學中最大、最重要的科學會議；世界各個先進國家如美國、歐盟、日本，甚至中國大陸均將「腦功能研究」或「神經科學」定為其二十一世紀國家科學發展的最重要項目之一。可以預期台灣也絕對無法忽視此一世界潮流，台大必須為台灣神經科學的發展擔負起一份責任。 認知科學旨在研究人類的認知與智慧，它濫觴於1970年代，成形於1980、90年代，時至今日，更方興未艾，已蔚然成為一個極為重要的研究領域。從人類的歷史來看，有關文化的發展、文明的設計與科學的推動無一不涉及人類認知與智慧的運作，而未來更將是一個「腦力競爭」的時代。心理學於六零年代擺脫行為主義的限制，開始探討人類內在心智歷程後，認知心理學很快的與語言學、哲學、人類學、神經心理學、計算科學、資訊科學與演化生物學中的相關領域整合成為認知科學，以不同取向來探討人類心智活動。目前，認知科學的研究在世界各地蓬勃發展，也成為世界各先進國家的重點研究項目之一。一個明顯的事實是，在過去短暫的十年時間，就出現148種新的學報刊登認知科學的研究。以此趨勢來看，認知科學研究極具前瞻性，它必將是本世紀最重要的研究領域之一。諾貝爾獎得主Francis Crick其後半生在UC San Diego與Salk Institute致力於認知科學有關意識歷程(Consciousness)的研究，他生前並且認為：「二十一世紀將是瞭解心智的世紀」。
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>組織架構</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="images/Architecture.jpg" class="img-responsive center-block" alt="">
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>行政人員</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="about/about_form/1"><img class="img-circle img-responsive center-block" ng-src="images/graduate1.png" alt=""></a>
                <h3>王美月</h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <a href="about/about_form/2"><img class="img-circle img-responsive center-block" src="images/graduate1.png" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <a href="about/about_form/3"><img class="img-circle img-responsive center-block" src="images/graduate1.png" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a href="about/about_form/4"><img class="img-circle img-responsive center-block" src="images/graduate1.png" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <a href="about/about_form/5"><img class="img-circle img-responsive center-block" src="images/graduate1.png" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <a href="about/about_form/6"><img class="img-circle img-responsive center-block" src="images/graduate1.png" alt=""></a>
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的位置</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <div id="home_hidden" class="row">
            <div id="myTabContent" class="tab-content ">
                
                <div role="tabpanel" class="tab-pane fade in active" id="pos1" aria-labelledBy="pos1-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/search/%E5%8F%B0%E5%A4%A7%E5%BF%83%E7%90%86%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0184548,121.5378096,17z/data=!3m1!4b1?hl=zh-TW" target="_blank"><img src="images/map/map-04.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos2" aria-labelledBy="pos2-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E5%8F%B0%E7%81%A3%E5%A4%A7%E5%AD%B8%E9%9B%BB%E6%A9%9F%E4%BA%8C%E9%A4%A8/@25.0186851,121.5398316,17z/data=!3m1!4b1!4m5!3m4!1s0x3442aa27a0ae9fe3:0xdbf23838ba06aabf!8m2!3d25.0186803!4d121.5420203?hl=zh-TW" target="_blank"><img src="images/map/map-03.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos3" aria-labelledBy="pos3-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E5%9C%8B%E7%AB%8B%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E9%86%AB%E5%AD%B8%E9%99%A2%E9%99%84%E8%A8%AD%E9%86%AB%E9%99%A2%E5%8F%B0%E5%8C%97%E7%B8%BD%E9%99%A2%E8%A5%BF%E5%9D%80%E5%A4%A7%E6%A8%93/@25.041747,121.515172,17.63z/data=!4m5!3m4!1s0x3442a973c658b995:0xe2c79e29bc2b82e3!8m2!3d25.041466!4d121.517179?hl=zh-TW" target="_blank"><img src="images/map/map-02.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos4" aria-labelledBy="pos4-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E6%B0%B8%E9%BD%A1%E7%94%9F%E9%86%AB%E5%B7%A5%E7%A8%8B%E9%A4%A8/@25.0153195,121.5454395,17.24z/data=!4m5!3m4!1s0x3442aa235d63e623:0x701692fa5188d25b!8m2!3d25.0139806!4d121.5470086?hl=zh-TW" target="_blank"><img src="images/map/map-01.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="about#pos1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">中心辦公室</h4></a></li>
                    <li> <a href="about#pos2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">動物用核磁共振核心實驗室</h4></a></li>
                    <li><a href="about#pos3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">動物用正子圖一核心實驗室</h4></a></li>
                    <li><a href="about#pos4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">身體心靈與文化研究中心</h4></a></li>
                </ul>
            </div>
        </div>
        <div id="phone_show" class="row">
            <div id="myTabContent" class="tab-content">
                
                <div role="tabpanel" class="tab-pane fade in active mapwidth" id="map1" aria-labelledBy="pos1-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.460257962389!2d121.53780956500586!3d25.018449933979653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a98bcdf68a9b%3A0xd58d29d53e67fa4c!2z6Ie654Gj5aSn5a245b-D55CG5a2457O75Y2X6aSo!5e0!3m2!1szh-TW!2stw!4v1485152758234" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map2" aria-labelledBy="pos2-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.453474231466!2d121.53983161500597!3d25.01868028397952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa27a0ae9fe3%3A0xdbf23838ba06aabf!2z5Y-w54Gj5aSn5a246Zu75qmf5LqM6aSo!5e0!3m2!1szh-TW!2stw!4v1485152641650" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map3" aria-labelledBy="pos3-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3614.7738712107457!2d121.515172!3d25.041747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a973c658b995%3A0xe2c79e29bc2b82e3!2z5ZyL56uL6Ie654Gj5aSn5a246Yar5a246Zmi6ZmE6Kit6Yar6Zmi5Y-w5YyX57i96Zmi6KW_5Z2A5aSn5qiT!5e0!3m2!1szh-TW!2stw!4v1485152662794" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map4" aria-labelledBy="pos4-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3615.552442409022!2d121.5454395!3d25.0153195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa235d63e623%3A0x701692fa5188d25b!2z5rC46b2h55Sf6Yar5bel56iL6aSo!5e0!3m2!1szh-TW!2stw!4v1485152689253" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="about#map1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">中心辦公室</h4></a></li>
                    <li> <a href="about#map2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">動物用核磁共振核心實驗室</h4></a></li>
                    <li><a href="about#map3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">動物用正子圖一核心實驗室</h4></a></li>
                    <li><a href="about#map4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">身體心靈與文化研究中心</h4></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
