<!-- Contact Section -->

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <!-- <img src="img/pic/transferexam.jpg" > -->
        </div>
    </div>
</div>
<section class="content">
<div class="aboutimg" style="background-image: url(img/pic/about.png);"></div>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12 text-center">
                <h2 class="aboutTitle">簡介</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <p>二十世紀後三十年有兩個蓬勃發展的新興學門：神經科學(neuroscience)與認知科學(cognitive science)。神經科學為了從多方向整合性的了解腦功能，結合了早先分散在生化、細胞、系統功能、行為、心理、人工智慧等等領域中有關神經細胞與神經系統的部分，再加上臨床醫學研究的部分形成的新學門。在短短的三十餘年間，呈現爆發性的成長。在Science Citation Index中Neuroscience領域的期刊已經兩百種；各個世界著名的第一流大學除了台大之外幾乎都早已成立了Neuroscience Program、Neuroscience Center或Department of Neurobiology等等整合神經科學的校內單位；在1970年代成立的北美神經科學學會（Society for Neuroscience）現有會員三萬餘人，其年會的規模已取代生物醫學聯合年會，成為生物醫學中最大、最重要的科學會議；世界各個先進國家如美國、歐盟、日本，甚至中國大陸均將「腦功能研究」或「神經科學」定為其二十一世紀國家科學發展的最重要項目之一。可以預期台灣也絕對無法忽視此一世界潮流，台大必須為台灣神經科學的發展擔負起一份責任。 認知科學旨在研究人類的認知與智慧，它濫觴於1970年代，成形於1980、90年代，時至今日，更方興未艾，已蔚然成為一個極為重要的研究領域。從人類的歷史來看，有關文化的發展、文明的設計與科學的推動無一不涉及人類認知與智慧的運作，而未來更將是一個「腦力競爭」的時代。心理學於六零年代擺脫行為主義的限制，開始探討人類內在心智歷程後，認知心理學很快的與語言學、哲學、人類學、神經心理學、計算科學、資訊科學與演化生物學中的相關領域整合成為認知科學，以不同取向來探討人類心智活動。目前，認知科學的研究在世界各地蓬勃發展，也成為世界各先進國家的重點研究項目之一。一個明顯的事實是，在過去短暫的十年時間，就出現148種新的學報刊登認知科學的研究。以此趨勢來看，認知科學研究極具前瞻性，它必將是本世紀最重要的研究領域之一。諾貝爾獎得主Francis Crick其後半生在UC San Diego與Salk Institute致力於認知科學有關意識歷程(Consciousness)的研究，他生前並且認為：「二十一世紀將是瞭解心智的世紀」。
                </p>
            </div>
        </div>
        
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>組織架構</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="img/pic/Architecture.JPG" class="img-responsive center-block" alt="">
            </div>
        </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>行政人員</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-circle img-responsive center-block" src="http://placehold.it/200x200" alt="">
                <h3>王美月
                    
                </h3>
                <small>Job Title</small>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的位置</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <div class="row">

            <div id="myTabContent" class="tab-content ">
                <!-- <div role="tabpanel" class="tab-pane fade in active" id="Introduction" aria-labelledBy="Introduction-tab"> -->
                <div role="tabpanel" class="tab-pane fade in active" id="pos1" aria-labelledBy="pos1-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="img/pic/map1.jpg" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos2" aria-labelledBy="pos2-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="img/pic/map2.jpg" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div> 
                <div role="tabpanel" class="tab-pane fade" id="pos3" aria-labelledBy="pos3-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="img/pic/map3.jpg" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div> 
                <div role="tabpanel" class="tab-pane fade" id="pos4" aria-labelledBy="pos4-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="img/pic/map4.jpg" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>          
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="home#pos1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">中心辦公室</h4></a></li>
                    <li> <a href="home#pos2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">實驗室A</h4></a></li>
                    <li><a href="home#pos3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">實驗室B</h4></a></li>
                    <li><a href="home#pos4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">實驗室C</h4></a></li>
                </ul>
            </div>
        </div>
</section>
