
<section class="cta">    
    <div class="cta-content">
        <div class="container">
            <div class="row col-sm-12"> 
                <div class="col-sm-8">
                <div class="navbar-header logo">                
                        <a href="#" >
                            <img src="img/pic/ncsc_logo_white.png" alt="">
                        </a>
                </div>

                </div>
                <div class="col-sm-4">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav-justified">
                        <li>
                            <a class="text_white pull-right" href="/NCSC_NTU/"><h4>中文</h4></a>
                        </li>
                        <li>
                            <a class="text_white pull-right" href="index_en.html#/home_en"><h4>英文</h4></a>
                        </li>
                        
                    </ul>
                </div>
                </div>
            </div>
           <br /><br /><br /><br />
            <div class="row col-sm-12 pic">
                <div class="col-sm-6" ng-model="hero">
                    <img class="img-responsive " src="{{hero[0].fileLink}}" alt="">
                    <br>
                    <img class="img-responsive " src="{{hero[1].fileLink}}" alt="">
                </div>
                <div id="home_hidden" class="col-sm-4">
                    <img class="img-responsive center-block" src="{{hero[2].fileLink}}" alt="">
                        <br>
                        <img class="img-responsive center-block" src="{{hero[3].fileLink}}" alt="">
                </div>
                <div class="col-sm-2" id="home_hidden">
                    <div class="row col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 layer_title "></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#news"><h4>news</h4></a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#about"><h4>about</h4></a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#instrument"><h4>instrument</h4></a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#members"><h4>members</h4></a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#credit"><h4>credit</h4></a></div>
                        <div class="col-sm-5 layer_title "><a  class="text_white" href="#download"><h4>download</h4></a></div>
                    </div>
                    
                </div>
            
            <div class="col-sm-12 text-center text_white">
                <h3>關於大腦認知--></h3>
            </div>

        </div>
    </div>
    
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h2>最新消息</h2>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12" ng-repeat="New in news|limitTo:5">
                    <p class="col-sm-10">
                        {{New.titleZH_TW}}
                    </p>
                    <p class="col-sm-2 text-muted">
                        {{New.nameZH_TW}}
                    </p>
                    <small>
                        {{New.date}}
                    </small>
                    <hr>
                    
                    
                </div>
                <div class="col-sm-12"><a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的成員</h2>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <img src="img/ours.png" class="img-responsive center-block" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>地圖</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <img src="img/pic/map.JPG" class="img-responsive center-block" alt="">
        </div>
    </div>
</section>
