<section class="cta">
    <div class="cta-content">
        <div class="container">
            <div class="row col-sm-12">
                <div class="col-sm-8">
                    <div class="navbar-header logo">
                        <a href="#">
                            <img src="img/pic/ncsc_logo_white.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav-justified">
                            <li>
                                <a class="text_white pull-right" href="index.html#/home"><h4>中文</h4></a>
                            </li>
                            <li>
                                <a class="text_white pull-right" href="index_en.html#/home_en"><h4>English</h4></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row col-sm-12 pic">
                <div class="col-sm-6" ng-model="hero">
                    <img class="img-responsive " src="{{hero[0].fileLink}}" alt="">
                    <br>
                    <img class="img-responsive " src="{{hero[1].fileLink}}" alt="">
                </div>
                <div id="home_hidden" class="col-sm-4">
                    <img class="img-responsive center-block" src="{{hero[2].fileLink}}" alt="">
                    <br>
                    <img class="img-responsive center-block" src="{{hero[3].fileLink}}" alt="">
                </div>
                <div class="col-sm-2" id="home_hidden">
                    <div class="row col-sm-12">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5 layer_title "></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#news"><h4>最新消息</h4></a></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#about"><h4>關於我們</h4></a></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#instrument"><h4>核心儀器</h4></a></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#members"><h4>中心成員</h4></a></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#credit"><h4>學分學程</h4></a></div>
                        <div class="col-sm-5 layer_title "><a class="text_white" href="#links"><h4>相關連結</h4></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h2>最新消息</h2>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12" ng-repeat="New in news|limitTo:5">
                    <p class="col-sm-10">
                        <a href="#/news/{{New.newsNo}}/news_form"> {{New.titleZH_TW}}</a>
                    </p>
                    <p class="col-sm-2 text-muted">
                        {{New.nameZH_TW}}
                    </p>
                    <small>
                        {{New.date}}
                    </small>
                    <hr>
                </div>
                <div class="col-sm-12"><a class="btn btn-primary" href="#/news">更多 <span class="glyphicon glyphicon-chevron-right"></span></a></div>
            </div>
        </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的成員</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <a href="#/members"><img src="images/ours.jpg" class="img-responsive center-block" alt=""></a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>我們的位置</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <div id="home_hidden" class="row">
            <div id="myTabContent" class="tab-content ">
                
                <div role="tabpanel" class="tab-pane fade in active" id="pos1" aria-labelledBy="pos1-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="images/map/map-04.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos2" aria-labelledBy="pos2-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="images/map/map-03.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos3" aria-labelledBy="pos3-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="images/map/map-02.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos4" aria-labelledBy="pos4-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0195287,121.5410665,18.09z/data=!4m12!1m6!3m5!1s0x3442aa264a212e37:0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!8m2!3d25.0200417!4d121.5402373!3m4!1s0x0:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447" target="_blank"><img src="images/map/map-01.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="home#pos1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">中心辦公室</h4></a></li>
                    <li> <a href="home#pos2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">動物用核磁共振核心實驗室</h4></a></li>
                    <li><a href="home#pos3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">動物用正子圖一核心實驗室</h4></a></li>
                    <li><a href="home#pos4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">身體心靈與文化研究中心</h4></a></li>
                </ul>
            </div>
        </div>
        <div id="phone_show" class="row">
            <div id="myTabContent" class="tab-content">
                
                <div role="tabpanel" class="tab-pane fade in active mapwidth" id="map1" aria-labelledBy="pos1-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.41338026075!2d121.538048615006!3d25.020041683978924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa264a212e37%3A0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!5e0!3m2!1szh-TW!2stw!4v1484123460266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map2" aria-labelledBy="pos2-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.41338026075!2d121.538048615006!3d25.020041683978924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa264a212e37%3A0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!5e0!3m2!1szh-TW!2stw!4v1484123460266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map3" aria-labelledBy="pos3-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.41338026075!2d121.538048615006!3d25.020041683978924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa264a212e37%3A0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!5e0!3m2!1szh-TW!2stw!4v1484123460266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map4" aria-labelledBy="pos4-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.41338026075!2d121.538048615006!3d25.020041683978924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa264a212e37%3A0xd6bbf7ae8dd69eb1!2z5b-D55CG57O75YyX6aSo!5e0!3m2!1szh-TW!2stw!4v1484123460266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="home#map1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">中心辦公室</h4></a></li>
                    <li> <a href="home#map2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">動物用核磁共振核心實驗室</h4></a></li>
                    <li><a href="home#map3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">動物用正子圖一核心實驗室</h4></a></li>
                    <li><a href="home#map4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">身體心靈與文化研究中心</h4></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
