<section class="cta home">
    <div class="cta-content">
        <div class="container">
            <div class="lang">
                <a class="text_white pull-right" href="home"><h5><i class="fa fa-globe" aria-hidden="true"></i> 中文</h5></a>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo">
                        <a href="#">
                            <img src="img/pic/ncsc_logo_white.png" alt="">
                        </a>
                        <a href="https://www.ntu.edu.tw" target="_blank">
                            <img src="images/ntu_logo.png" alt="" class="ntu">
                        </a>
                        <img src="images/title_w.png" alt="" class="sublogo">
                    </div>
                </div>        
            </div>
            <div class="row col-sm-12 pic">
                <div class="col-sm-5" ng-model="hero">
                    <img class="img-responsive " src="{{hero[0].fileLink}}" alt="">
                    <br>
                    <img class="img-responsive " src="{{hero[1].fileLink}}" alt="">
                </div>
                <div id="home_hidden" class="col-sm-5 img-right">
                    <img class="img-responsive" src="{{hero[2].fileLink}}" alt="" style="width:65%;">
                    <br>
                    <img class="img-responsive" src="{{hero[3].fileLink}}" alt="" style="width:65%;">
                </div>
                <div class="col-sm-2" id="home_hidden">
                    <ul class="home_nav">
                        <li class="layer_title "><a class="text_white" href="news_en"><h4>news</h4></a></li>
                        <li class="layer_title "><a class="text_white" href="about_en"><h4>about us</h4></a></li>
                        <li class="layer_title "><a class="text_white" href="members_en"><h4>members</h4></a></li>
                        <li class="layer_title "><a class="text_white" href="credit_en"><h4>credit courses</h4></a></li>
                        <li class="layer_title "><a class="text_white" href="instrument_en"><h4>CORE FACILITY</h4></a></li>
                        <li class="layer_title "><a class="text_white" href="links_en"><h4>related links</h4></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h2>News</h2>
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12" ng-repeat="New in news|limitTo:5|orderBy:'date':true">
                    <p class="col-sm-10">
                        <a href="news/news_form_en/{{New.newsNo}}">{{New.titleEN}}</a>
                    </p>
                    <p class="col-sm-2 text-muted">
                        {{New.nameEN}}
                    </p>
                    <div class="col-sm-12 downdate">
                        <small>
                            {{New.date}}
                        </small>
                        <hr>
                    </div>
                </div>
                <div class="col-sm-12"><a class="btn btn-primary" href="news_en">MORE <span class="glyphicon glyphicon-chevron-right"></span></a></div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>Our Members</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <a href="members_en"><img src="images/ours.jpg" class="img-responsive center-block" alt=""></a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <h2>Our Locations</h2>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <br>
        <div id="home_hidden" class="row">
            <div id="myTabContent" class="tab-content">
                <!-- <div role="tabpanel" class="tab-pane fade in active" id="Introduction" aria-labelledBy="Introduction-tab"> -->
                <div role="tabpanel" class="tab-pane fade in active" id="pos1" aria-labelledBy="pos1-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E8%87%BA%E7%81%A3%E5%A4%A7%E5%AD%B8%E5%BF%83%E7%90%86%E5%AD%B8%E7%B3%BB%E5%8D%97%E9%A4%A8/@25.0184499,121.5378096,17z/data=!4m8!1m2!2m1!1z5Y-w5aSn5b-D55CG57O75Y2X6aSo!3m4!1s0x3442a98bcdf68a9b:0xd58d29d53e67fa4c!8m2!3d25.0195594!4d121.5402447?hl=en" target="_blank"><img src="images/map/map_en-04.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos2" aria-labelledBy="pos2-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E5%8F%B0%E7%81%A3%E5%A4%A7%E5%AD%B8%E9%9B%BB%E6%A9%9F%E4%BA%8C%E9%A4%A8/@25.0186803,121.5398316,17z/data=!3m1!4b1!4m5!3m4!1s0x3442aa27a0ae9fe3:0xdbf23838ba06aabf!8m2!3d25.0186803!4d121.5420203?hl=en" target="_blank"><img src="images/map/map_en-03.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos3" aria-labelledBy="pos3-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/National+Taiwan+University+Hospital+West+Building/@25.041747,121.515172,17z/data=!4m5!3m4!1s0x3442a973c658b995:0xe2c79e29bc2b82e3!8m2!3d25.041466!4d121.517179?hl=en" target="_blank"><img src="images/map/map_en-02.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="pos4" aria-labelledBy="pos4-tab">
                    <div class="container">
                        <div class="row maps">
                            <a href="https://www.google.com.tw/maps/place/%E6%B0%B8%E9%BD%A1%E7%94%9F%E9%86%AB%E5%B7%A5%E7%A8%8B%E9%A4%A8/@25.0153195,121.5454395,17z/data=!4m5!3m4!1s0x3442aa235d63e623:0x701692fa5188d25b!8m2!3d25.0139806!4d121.5470086?hl=en" target="_blank"><img src="images/map/map_en-01.png" class="img-responsive center-block" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="home_en#pos1" id="pos1-tab" role="tab" data-toggle="tab" aria-controls="pos1" aria-expanded="true"><h4 class="text_black">Main Office</h4></a></li>
                    <li> <a href="home_en#pos2" role="tab" id="pos2-tab" data-toggle="tab" aria-controls="pos2"><h4 class="text_black">Magnetic Resonance Imaging Core  Lab</h4></a></li>
                    <li><a href="home_en#pos3" role="tab" id="pos3-tab" data-toggle="tab" aria-controls="pos3"><h4 class="text_black">Animal Positron Emission Tomography Core Lab</h4></a></li>
                    <li><a href="home_en#pos4" role="tab" id="pos4-tab" data-toggle="tab" aria-controls="pos4"><h4 class="text_black">Animal Behavioral Core Lab</h4></a></li>
                </ul>
            </div>
        </div>
        <div id="phone_show" class="row">
            <div id="myTabContent" class="tab-content">
                
                <div role="tabpanel" class="tab-pane fade in active mapwidth" id="map1" aria-labelledBy="pos1-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.460257962389!2d121.53780956500586!3d25.018449933979653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a98bcdf68a9b%3A0xd58d29d53e67fa4c!2z6Ie654Gj5aSn5a245b-D55CG5a2457O75Y2X6aSo!5e0!3m2!1sen!2stw!4v1485152875145" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map2" aria-labelledBy="pos2-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.453474231466!2d121.53983161500597!3d25.01868028397952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa27a0ae9fe3%3A0xdbf23838ba06aabf!2z5Y-w54Gj5aSn5a246Zu75qmf5LqM6aSo!5e0!3m2!1sen!2stw!4v1485153023695" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map3" aria-labelledBy="pos3-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3614.7738712107457!2d121.515172!3d25.041747!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a973c658b995%3A0xe2c79e29bc2b82e3!2sNational+Taiwan+University+Hospital+West+Building!5e0!3m2!1sen!2stw!4v1485153086698" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade mapwidth" id="map4" aria-labelledBy="pos4-tab">
                    <div class="google-maps">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3615.552442409022!2d121.5454395!3d25.0153195!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa235d63e623%3A0x701692fa5188d25b!2z5rC46b2h55Sf6Yar5bel56iL6aSo!5e0!3m2!1sen!2stw!4v1485153156805" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="home_en#map1" id="map1-tab" role="tab" data-toggle="tab" aria-controls="map1" aria-expanded="true"><h4 class="text_black">Main Office</h4></a></li>
                    <li> <a href="home_en#map2" role="tab" id="map2-tab" data-toggle="tab" aria-controls="map2"><h4 class="text_black">Magnetic Resonance Imaging Core  Lab</h4></a></li>
                    <li><a href="home_en#map3" role="tab" id="map3-tab" data-toggle="tab" aria-controls="map3"><h4 class="text_black">Animal Positron Emission Tomography Core Lab</h4></a></li>
                    <li><a href="home_en#map4" role="tab" id="map4-tab" data-toggle="tab" aria-controls="map4"><h4 class="text_black">Animal Behavioral Core Lab</h4></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
