<section class="content">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="Speech" aria-labelledBy="Speech-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>{{title}}</h3>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12" ng-repeat="New in filteredTodos">
                                        <hr>
                                        <p class="col-sm-10">
                                            <a href="#/news/{{New.newsNo}}/news_form"> {{New.titleZH_TW}}</a>
                                        </p>
                                        <p class="col-sm-2 text-muted">
                                            {{New.nameZH_TW}}
                                        </p>
                                        <small>
                                            {{New.date}}
                                        </small>
                                    </div>
                                    <ul uib-pagination total-items="news .length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false">
                                    </ul>
                                </div>
                                <div class="col-lg-1 col-lg-offset-9">
                                    <a class="btn btn-primary" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span>返回 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
