<section class="content credit">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="Speech" aria-labelledBy="Speech-tab">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-push-4 col-sm-4">
                                        <h3>{{title}}</h3>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12" ng-if="digitalPublication" ng-repeat="New in filteredTodos| orderBy:'date':true">
                                        <div class="col-sm-10">
                                            <p>
                                                {{New.titleZH_TW}}
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a target="_blank" href="{{New.fileLink}}"><i class="fa fa-download" aria-hidden="true"></i> 下載檔案</a>
                                        </div>
                                        <div class="col-sm-12 downdate">
                                            <small>
                                                {{New.date}}
                                            </small>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" ng-repeat="New in filteredTodos" ng-if="!digitalPublication">
                                        <hr>
                                        <p class="col-sm-10">
                                            <a href="news/news_form/{{New.newsNo}}"> {{New.titleZH_TW}}</a>
                                        </p>
                                        <p class="col-sm-2 text-muted">
                                            {{New.nameZH_TW}}
                                        </p>
                                        <small>
                                            {{New.date}}
                                        </small>
                                    </div>
                                    <!-- <ul uib-pagination total-items="news .length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true" rotate="false">
                                    </ul> -->
                                    <ul uib-pagination boundary-links="true" total-items="news .length" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                                </div>
                                <div class="col-lg-1 col-lg-offset-9">
                                    <a class="btn btn-primary btn_right" ng-click="back()"><span class="glyphicon glyphicon-chevron-left"></span>返回 </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
