<section  class="section_new">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default active" href="#news#Speech" class="btn btn-default"><h4>演講</h4></a>
                    <a class="btn btn-default active" href="#news#seminar" class="btn btn-default"><h4>研討會</h4></a>
                    <a class="btn btn-default active" href="#news#credit" class="btn btn-default"><h4>學分學程</h4></a>
                </div>
            </div>
            
            
        </div><br>
        <div class="row">
        <div class="col-lg-offset-1">
                <div>
                    <div class="btn-group btn-group-justified">
                    <a href="#news" class="btn btn-default">2016</a>
                    <a href="#news" class="btn btn-default">2015</a>
                    <a href="#news" class="btn btn-default">2014</a>
                    <a href="#news" class="btn btn-default">2013</a>
                    <a href="#news" class="btn btn-default">2012</a>
                </div>

                </div>
            </div>
            </div>
    </div>
    </div>
</section>
<!-- Contact Section -->
<section id="Speech">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>演講</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12 ">
                
                <h3>
                    台灣大學明治大學神經生物與認知科學研究交流會議
                </h3>
                <small>
                    2016.11.09
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.27
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    本學期12月1日開始開放學程申請,12月31日截止
                </h3>
                <small>
                    2016.10.17
                </small>
                
                <hr>

               
                <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>

                
            </div>
            </div>
        </div>
    </div>
</section>
<section id="seminar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>研討會</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12 ">
                
                <h3>
                    台灣大學明治大學神經生物與認知科學研究交流會議
                </h3>
                <small>
                    2016.11.09
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.27
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    本學期12月1日開始開放學程申請,12月31日截止
                </h3>
                <small>
                    2016.10.17
                </small>
                
                <hr>

               
                <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>

                
            </div>
            </div>
        </div>
</section>
<section id="credit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>學分學程</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-12 ">
                
                <h3>
                    台灣大學明治大學神經生物與認知科學研究交流會議
                </h3>
                <small>
                    2016.11.09
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.27
                </small>
                
                <hr>
                <h3>
                    羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                </h3>
                <small>
                    2016.10.19
                </small>
                
                <hr>

                <h3>
                    本學期12月1日開始開放學程申請,12月31日截止
                </h3>
                <small>
                    2016.10.17
                </small>
                
                <hr>

               
                <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>

                
            </div>
            </div>
        </div>
    </div>
</section>
