<section>
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="download#Speech" id="Speech-tab" role="tab" data-toggle="tab" aria-controls="Speech" aria-expanded="true"><h4 class="text_black">演講</h4></a></li>
                    <li> <a href="download#seminar" role="tab" id="seminar-tab" data-toggle="tab" aria-controls="seminar"><h4 class="text_black">研討會</h4></a></li>
                    <li><a href="download#credit" role="tab" id="credit-tab" data-toggle="tab" aria-controls="credit" ><h4 class="text_black">學分學程</h4></a></li>

                </ul>
                <br>
        <div class="row">
       
                <div>
                    <div class="btn-group btn-group-justified">
                    <a href="#news" class="btn btn-default">2016</a>
                    <a href="#news" class="btn btn-default">2015</a>
                    <a href="#news" class="btn btn-default">2014</a>
                    <a href="#news" class="btn btn-default">2013</a>
                    <a href="#news" class="btn btn-default">2012</a>
                </div>

               
            </div>
            </div>
                
                <div id="myTabContent" class="tab-content ">
                    <!-- 演講 -->
                    <div role="tabpanel" class="tab-pane fade in active" id="Speech" aria-labelledBy="Speech-tab" >
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>演講</h3>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                    
                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="row">
                            
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12"    ng-repeat="New in news">                                    
                                        <p>
                                            {{New.contentZH_TW}}
                                        </p>
                                        <small>
                                            {{New.date}}
                                        </small>
                                        
                                        <hr>
                                                         
                                    </div>
                                    <div class="col-sm-12"><a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a> </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 演講 END -->
                    <!-- 研討會 -->
                    <div role="tabpanel" class="tab-pane fade" id="seminar" aria-labelledBy="seminar-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>研討會</h3>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                    
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12">
                                    
                                    <p>
                                        台灣大學明治大學神經生物與認知科學研究交流會議
                                    </p>
                                    <small>
                                        2016.11.09
                                    </small>
                                    
                                    <hr>
                                    <p>
                                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                                    </p>
                                    <small>
                                        2016.10.27
                                    </small>
                                    
                                    <hr>
                                    <p>
                                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                                    </p>
                                    <small>
                                        2016.10.19
                                    </small>
                                    
                                    <hr>

                                    <p>
                                        許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                                    </p>
                                    <small>
                                        2016.10.19
                                    </small>
                                    
                                    <hr>

                                    <p>
                                        本學期12月1日開始開放學程申請,12月31日截止
                                    </p>
                                    <small>
                                        2016.10.17
                                    </small>
                                    
                                    <hr>

                                   
                                    <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>

                                    
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 研討會 END-->
                    <!-- 學分學程-->
                    <div role="tabpanel" class="tab-pane fade" id="credit" aria-labelledBy="credit-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>學分學程</h3>
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                    
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12">
                                    
                                    <p>
                                        台灣大學明治大學神經生物與認知科學研究交流會議
                                    </p>
                                    <small>
                                        2016.11.09
                                    </small>
                                    
                                    <hr>
                                    <p>
                                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                                    </p>
                                    <small>
                                        2016.10.27
                                    </small>
                                    
                                    <hr>
                                    <p>
                                        羅志鴻博士:紅斑性狼瘡治療的研發與核准歷程
                                    </p>
                                    <small>
                                        2016.10.19
                                    </small>
                                    
                                    <hr>

                                    <p>
                                        許禕芳教授 (臺灣師範大學教育心理與輔導學系)
                                    </p>
                                    <small>
                                        2016.10.19
                                    </small>
                                    
                                    <hr>

                                    <p>
                                        本學期12月1日開始開放學程申請,12月31日截止
                                    </p>
                                    <small>
                                        2016.10.17
                                    </small>
                                    
                                    <hr>

                                   
                                    <a class="btn btn-primary" href="#">更多 <span class="glyphicon glyphicon-chevron-right"></span></a>

                                    
                                </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- 學分學程 END-->
                    
                </div>
            </div>
        </div>
</section>
