<section class="content">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="download#NTU" id="NTU-tab" role="tab" data-toggle="tab" aria-controls="NTU" aria-expanded="true"><h4 class="text_black">NTU units</h4></a></li>
                    <li> <a href="download#paper" role="tab" id="paper-tab" data-toggle="tab" aria-controls="paper"><h4 class="text_black">Papers</h4></a></li>
                    <li><a href="download#Journal" role="tab" id="Journal-tab" data-toggle="tab" aria-controls="Journal"><h4 class="text_black">Journals</h4></a></li>
                    <li><a href="download#literature" role="tab" id="literature-tab" data-toggle="tab" aria-controls="literature"><h4 class="text_black">Literature Reviews</h4></a></li>
                    <li><a href="download#publishing" role="tab" id="publishing-tab" data-toggle="tab" aria-controls="publishing"><h4 class="text_black">Publications</h4></a></li>
                </ul>
                <!-- 簡介 -->
                <div id="myTabContent" class="tab-content ">
                    <!-- 簡介 -->
                    <div role="tabpanel" class="tab-pane fade in active" id="NTU" aria-labelledBy="NTU-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="col-sm-12">
                                        <p>
                                            <a target="_blank" href="http://gibms.mc.ntu.edu.tw/">腦心所</a>
                                        </p>
                                        <hr>
                                        <p>
                                            <a target="_blank" href="https://www.ntuh.gov.tw/ccnb/default.aspx">臺大醫院臨床神經濟行為醫學研究中心</a>
                                        </p>
                                        <hr>
                                        <p>
                                            <a target="_blank" href="http://mrimeg.psy.ntu.edu.tw/doku.php">身體、心靈與文化整合影像研究中心</a>
                                        </p>
                                        <hr>
                                        <p>
                                            <a target="_blank" href="http://www.psy.ntu.edu.tw/">台大心理系暨研究所</a>
                                        </p>
                                        <hr>
                                        <p>
                                            <a target="_blank" href="http://www.lifescience.ntu.edu.tw/2016/">台大生科系</a>
                                        </p>
                                        <hr>
                                        <p>
                                            <a target="_blank" href="https://www.csie.ntu.edu.tw/intro/super_pages.php?ID=intro&Sn=1">資訊工程學系暨研究所</a>
                                        </p>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 簡介 END -->
                    <!-- 論文 -->
                    <div role="tabpanel" class="tab-pane fade" id="paper" aria-labelledBy="paper-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Papers(1020)</h3>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4 ">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- 論文 END-->
                    <!-- 期刊-->
                    <div role="tabpanel" class="tab-pane fade" id="Journal" aria-labelledBy="Journal-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Journals(1020)</h3>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4 ">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- 期刊 END-->
                    <!-- 文獻-->
                    <div role="tabpanel" class="tab-pane fade" id="literature" aria-labelledBy="literature-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Literature Reviews(1020)</h3>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4 ">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- FAQ END-->
                    <!-- 出版-->
                    <div role="tabpanel" class="tab-pane fade" id="publishing" aria-labelledBy="publishing-tab">
                        <div class="container">
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4">
                                        <h3>Publications(1020)</h3>
                                    </div>
                                    <div class="col-sm-1">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Neuroscience</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4 ">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Nature Reviews Neuroscience </p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                                <div class="col-sm-4">
                                    <p>Molecular Psychiatry</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <!-- Publications END-->
                </div>
            </div>
        </div>
    </div>
</section>
