<section class="content">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="links">
                    <li>
                        <a target="_blank" href="http://www.ntu.edu.tw/">National Taiwan University</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.ntuh.gov.tw/ccnb/default.aspx">The Clinical Center for Neuroscience and Behavior</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://gibms.mc.ntu.edu.tw/">Graduate Institute of Brain and Mind Sciences</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://mrimeg.psy.ntu.edu.tw/doku.php">Imaging Center for Integrated Body, Mind and Culture Research</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.mic.ntu.edu.tw/">Molecular Imaging Center</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.mc.ntu.edu.tw/Pages/page.aspx">College of Medicine</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="hthttp://www.science.ntu.edu.tw/">College of Science</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://college.lifescience.ntu.edu.tw/">College of Life Science</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://coph.ntu.edu.tw/">College of Public Health</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.ntuh.gov.tw/default_SP.aspx">National Taiwan University Hospital</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.psy.ntu.edu.tw/">Department of Psychology</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.lifescience.ntu.edu.tw/">Department of Life Science</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://homepage.ntu.edu.tw/~gilntu/">Graduate Institute of Linguistics</a>
                    </li>
                    <hr>

                </ul>
            </div>
        </div>
    </div>
</section>