<section class="content">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="links">
                    <li>
                        <a target="_blank" href="http://www.ntu.edu.tw/">國立臺灣大學 (National Taiwan University)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.ntuh.gov.tw/ccnb/default.aspx">臺大醫院臨床神經暨行為醫學中心 (The Clinical Center for Neuroscience and Behavior)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://gibms.mc.ntu.edu.tw/">臺台大腦與心智科學研究所 (Graduate Institute of Brain and Mind Sciences)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://mrimeg.psy.ntu.edu.tw/doku.php">身體、心靈與文化整合影像研究中心 (Imaging Center for Integrated Body, Mind and Culture Research)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.mic.ntu.edu.tw/">台大分子生醫影像研究中心 (Molecular Imaging Center)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.mc.ntu.edu.tw/Pages/page.aspx">國立台灣大學醫學院 (College of Medicine)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.science.ntu.edu.tw/">國立台灣大學理學院 (College of Science)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://college.lifescience.ntu.edu.tw/">國立台灣大學生命科學院 (College of Life Science)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://coph.ntu.edu.tw/">國立台灣大學公共衛生學院 (College of Public Health)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.ntuh.gov.tw/default_SP.aspx">國立台灣大學醫學院附設醫院 (National Taiwan University Hospital)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.psy.ntu.edu.tw/">台大心理學系 (Department of Psychology)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://www.lifescience.ntu.edu.tw/">台大生命科學系 (Department of Life Science)</a>
                    </li>
                    <hr>

                    <li>
                        <a target="_blank" href="http://homepage.ntu.edu.tw/~gilntu/">台大語言學研究所 (Graduate Institute of Linguistics)</a>
                    </li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
</section>