<section class="content">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a href="instrument_en#Lease" id="Lease-tab" role="tab" data-toggle="tab" aria-controls="Lease" aria-expanded="true"><h4 class="text_black">Rental equipment</h4></a></li>
                    <li> <a href="instrument_en#laboratory" role="tab" id="laboratory-tab" data-toggle="tab" aria-controls="laboratory"><h4 class="text_black">Laboratories</h4></a></li>
                    <li><a href="instrument_en#application" role="tab" id="application-tab" data-toggle="tab" aria-controls="application"><h4 class="text_black">Application forms</h4></a></li>
                </ul>
                <!-- 租借儀器 -->
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="Lease" aria-labelledBy="Lease-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <h4>BRUKER BIOSPEC 70/30 MRI</h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <h4>7T動物用核磁共振影像儀</h4>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="img-responsive center-block" ng-src="images/7T/7T animal MRI photo.JPG" alt="">
                                    </div>
                                    <div class="col-sm-6">
                                        <img class="img-responsive center-block" ng-src="images/7T/7T animal MRI photo.JPG" alt="">
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>服務:</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <blockquote>
                                            可接受校外委託代為檢測服務。
                                        </blockquote>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>放置地點 : </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="muted">
                                            <blockquote>臺大電機二館134室(7T實驗室)</blockquote>
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>服務時間 :  </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <p class="muted">
                                            <blockquote>每月的15日早上九點後開始預約下個月的時段
                                                <br/>每日略分為七個時段： 24:00~6:00、6:00~9:00、9:00~12:00、12:00~15:00、15:00~18:00、18:00~21:00、21:00~24:00。
                                                <br/>預約時段至少於預定實驗前一週，以書面或e-mail向管理者申請。</blockquote>
                                            </<p>
                                    </div>
                                </div>
                                <br>
                                <div id="demo" class="collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>儀器功能： </h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="muted">
                                                <blockquote>
                                                    高場核磁共振影像可針對活體動物進行長期實驗探究，對於基因表現及藥物臨床等相關研究能夠提供相當大之幫助，並結合新型醫學影像之顯影劑與分子生物之技術，在此設備上應用新式具特異標定功能之奈米粒子，使其應用更拓展至動物、植物、材料、食品科技等領域。
                                                </blockquote>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>服務聯絡人： </h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="muted">
                                                <blockquote>
                                                    負責人：陳志宏教授 電話：(02) 2364-8238
                                                    <br> e-mail：jhchen@ntu.edu.tw Fax：(02) 2364-8238
                                                    <br> 實驗管理人：謝昭賢 電話：(02) 3366-3617
                                                    <br> e-mail：hchjoe@ntu.edu.tw Fax：(02) 3366-9926
                                                    <br> 地點：台大電機二館一樓134室7T動物用核磁共振影像核心實驗室
                                                    <br> 電話：(02) 3366-9926
                                                    <br>
                                                </blockquote>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <center>
                                                <a href="http://www.mic.ntu.edu.tw/content/7t%E5%8B%95%E7%89%A9%E7%94%A8%E6%A0%B8%E7%A3%81%E5%85%B1%E6%8C%AF%E5%BD%B1%E5%83%8F%E5%84%80" target="_blank">
                                                    <button type="button" class="btn btn-primary">Apply</button>
                                                </a>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4><button type="button" class="btn_new btn-lg collapsed" data-toggle="collapse" data-target="#demo"> Details</button></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 租借儀器 END -->
                    <!-- 實驗室 -->
                    <div role="tabpanel" class="tab-pane fade" id="laboratory" aria-labelledBy="laboratory-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="http://www.psy.ntu.edu.tw/LINE/" target="_blank">
                                            <img class="img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-7">
                                        <h3>Small animal PET CT laboratory</h3>
                                        <p>本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理 ( 如：聽覺痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式如巴金森氏病)、基因治療 等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="https://goo.gl/ASWQVy" target="_blank"><h4><i class="fa fa-play-circle" aria-hidden="true"></i> Details</h4></a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <a href="http://www.psy.ntu.edu.tw/LINE/" target="_blank">
                                            <img class="img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-7">
                                        <h3>Small animal PET CT laboratory</h3>
                                        <p>本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理 ( 如：聽覺痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式如巴金森氏病)、基因治療 等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                        </p>
                                    </div>
                                    <div class="col-md-2">
                                        <a href="https://goo.gl/ASWQVy" target="_blank"><h4><i class="fa fa-play-circle" aria-hidden="true"></i> Details</h4></a>
                                    </div>
                                </div>
                                <hr>
                            </div>    
                        </div>
                    </div>
                    <!-- 實驗室 END-->
                    <!-- 申請表單-->
                    <div role="tabpanel" class="tab-pane fade" id="application" aria-labelledBy="application-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <table class="table table-hover" ng-repeat="Instrument in instrument">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-8">
                                                <p>{{Instrument.title}}</p>
                                            </td>
                                            <td class="col-md-4">
                                                <p><a href="{{Instrument.fileLink}}" target="_blank"><i class="fa fa-download" aria-hidden="true">Download</i></a></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- 申請表單 END-->
                </div>
            </div>
        </div>
    </div>
</section>

