<section class="content instrument">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"> <a href="instrument#laboratory" role="tab" id="laboratory-tab" data-toggle="tab" aria-controls="laboratory" aria-expanded="true"><h4 class="text_black">核心實驗室</h4></a></li>
                    <li><a href="instrument#Lease" id="Lease-tab" role="tab" data-toggle="tab" aria-controls="Lease"><h4 class="text_black">使用規範</h4></a></li>
                    <li><a href="instrument#application" role="tab" id="application-tab" data-toggle="tab" aria-controls="application"><h4 class="text_black">申請表單</h4></a></li>
                </ul>
                <!-- 租借儀器 -->
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade" id="Lease" aria-labelledBy="Lease-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物核磁共振影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物核磁共振影像核心實驗室</h3>
                                        <p>服務時間：每月的15日早上九點後開始預約下個月的時段<br>
                                        每日略分為七個時段： 24:00~6:00、6:00~9:00、9:00~12:00、12:00~15:00、15:00~18:00、18:00~21:00、21:00~24:00。預約時段至少於預定實驗前一週，以書面或e-mail向動物核磁共振影像核心實驗室管理者申請。<br>
                                        聯絡電話：(02) 3366-3617 <br>
                                        電子郵件：hchjoe@ntu.edu.tw
                                        </p>
                                        <a href="http://www.mic.ntu.edu.tw/content/7t%E5%8B%95%E7%89%A9%E7%94%A8%E6%A0%B8%E7%A3%81%E5%85%B1%E6%8C%AF%E5%BD%B1%E5%83%8F%E5%84%80" target="_blank">
                                            <button type="button" class="btn btn-primary">前往相關網站</button>
                                        </a>
                                    </div>
                                </div>
                                <div id="laboratory_2_rules" class="collapse">
                                    <div class="row" >
                                        <div class="col-sm-5">
                                            <h4>BRUKER BIOSPEC 70/30 MRI</h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <h4>7T動物用核磁共振影像儀</h4>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img class="img-responsive center-block" ng-src="images/7T/7T animal MRI photo.JPG" alt="">
                                        </div>
                                        <div class="col-sm-6">
                                            <img class="img-responsive center-block" ng-src="images/7T/7T animal MRI photo.JPG" alt="">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>服務:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                可接受校外委託代為檢測服務。
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>放置地點 : </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="muted">
                                                <blockquote>臺大電機二館134室(7T實驗室)</blockquote>
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>服務時間 :  </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p class="muted">
                                                <blockquote>每月的15日早上九點後開始預約下個月的時段
                                                    <br/>每日略分為七個時段： 24:00~6:00、6:00~9:00、9:00~12:00、12:00~15:00、15:00~18:00、18:00~21:00、21:00~24:00。
                                                    <br/>預約時段至少於預定實驗前一週，以書面或e-mail向管理者申請。</blockquote>
                                            </p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>儀器功能： </h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="muted">
                                                <blockquote>
                                                    高場核磁共振影像可針對活體動物進行長期實驗探究，對於基因表現及藥物臨床等相關研究能夠提供相當大之幫助，並結合新型醫學影像之顯影劑與分子生物之技術，在此設備上應用新式具特異標定功能之奈米粒子，使其應用更拓展至動物、植物、材料、食品科技等領域。
                                                </blockquote>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>服務聯絡人： </h4>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="muted">
                                                <blockquote>
                                                    負責人：陳志宏教授 電話：(02) 2364-8238
                                                    <br> e-mail：jhchen@ntu.edu.tw Fax：(02) 2364-8238
                                                    <br> 實驗管理人：謝昭賢 電話：(02) 3366-3617
                                                    <br> e-mail：hchjoe@ntu.edu.tw Fax：(02) 3366-9926
                                                    <br> 地點：台大電機二館一樓134室7T動物用核磁共振影像核心實驗室
                                                    <br> 電話：(02) 3366-9926
                                                    <br>
                                                </blockquote>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center"> 
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_2_rules">了解細節</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 租借儀器 END -->
                    <!-- 實驗室 -->
                    <div role="tabpanel" class="tab-pane fade in active" id="laboratory" aria-labelledBy="laboratory-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="http://www.psy.ntu.edu.tw/LINE/" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物正子分子影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物正子分子影像核心實驗室</h3>
                                        <p>放置地點：台大醫院核子醫學部（台大醫院東址 B1 正子中心）<br>業務主管：核醫部顏若芳主任</p>
                                    </div>
                                    <div id="laboratory_1" class="collapse col-xs-12">
                                        <br>
                                        <p>設施簡介：「正子放射斷層造影（Positron Emission Tomography）」，簡稱PET，
是一種利用能夠發射正子的放射藥物進行疾病診斷或標定特定目標的影像工具，也是藥物開發的利器。利用「迴旋加速器」產生能射出正子之放射核種，與特定物質（如葡萄糖）或特殊藥物結合，做成帶放射性藥劑注入受檢者體內，再利用正子放射斷層攝影儀，將體內或腦部放出的訊號偵測記錄下來，由電腦處理轉化成身體或腦部各切面的影像，藉以顯示出細胞的代謝情形或藥物在特定目標部位累積的情況，進而透視身體的疾患，或反映出特定部位的某些功能。小動物 PET/CT 具備同時提供功能性正子斷層掃瞄(PET)與結構性 X 光斷層掃瞄(CT)這兩種類型影像的能力，其所產生的 PET 與 CT 的影像，也由於硬體設備之系統整合，幾何上兩種影像可以直接相互融合，藉由影像疊合的輔助，提高判讀與診斷的正確性。台大神經生物與認知科學研究中心於 2007年11月在台大醫學院核子醫學部建置 Animal PET/CT Scanner，提供研究使用。</p>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_1">了解細節</button>
                                    </div>
                                </div>
                                
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物核磁共振影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物核磁共振影像核心實驗室</h3>
                                        <p>放置地點：臺大電機二館134室(7T實驗室)<br>儀器型號：BRUKER BIOSPEC 70/30 MRI <br>業務主管：電機系陳志宏教授</p>
                                    </div>
                                    <div id="laboratory_2" class="collapse col-xs-12">
                                        <br>
                                        <p>設施簡介：磁振造影乃是運用RF射頻波激發體內水、脂肪中的氫原子，使其產生共振，進而產生不同強度的信號所製造出的影像。磁振造影具有1.無輻射傷害、2.多重切面、3.非侵入性、4.幾乎無任何副作用、及5.對生理解剖上有高度的解像能力等優點，核磁共振攝影已成為近年來臨床診斷上相當重要的影像工具。此種使用準確而不必侵入人體的方法為人體內部器官或腦部造影，對醫學的診斷、醫療、與研究工作都十分重要。高場核磁共振影像可針對活體動物進行長期實驗探究，對於基因表現及藥物臨床等相關研究能夠提供相當大之幫助，並結合新型醫學影像之顯影劑與分子生物之技術，在此設備上應用新式具特異標定功能之奈米粒子，使其應用更拓展至動物、植物、材料、食品科技等領域。台大神經生物與認知科學研究中心於 2009年12月在台大校總區電機系建置 Animal 7T MRI，提供研究與教學使用。</p>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_2">了解細節</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物行為核心實驗室.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物行為核心實驗室</h3>
                                        <p>放置地點：臺大醫學院實驗動物中心 (臺北市中正區徐州路2號8~10F)<br>業務主管：藥理所符文美教授</p>
                                    </div>
                                    <div id="laboratory_3" class="collapse col-xs-12">
                                        <br>
                                        <p>設施簡介：以動物行為模式來進行認知神經科學相關基礎研究的主要任務之一是在揭發大腦的生理、心智與行為等功能。基於研究倫理及相關限制，許多實驗操弄並無法直接施行於人體上，藉由利用不同的動物行為模式，可以進一步瞭解各項行為功能的運作歷程，以及這些歷程背後的神經機制與作用。神經生物與認知科學研究中心為提高動物行為研究在神經生物與認知科學層面之應用，於2007年四月由醫學院藥理所符文美教授負責，在台大醫學院動物中心建立動物行為核心實驗設施，設置有各種動物行為測定儀器以利相關研究進行，目前有專任助理負責教學與管理。動物行為測試有助於研究基因變異、轉譯醫學、神經病變以及藥物作用等，提供本校所屬單位使用。動物行為實驗室主要提供以下各項服務來推動相關的研究工作，包括（1）自發性活動量記錄、（2）小動物步態分析、（3）恐懼學習記憶、（4）方向學習記憶、（5）運動軌跡、（6）運動平衡測試、（7）握力測試、（8）痛覺測試（包含冷、熱、機械性刺激）、（9）憂鬱症之動物模式測試、與（10）焦慮症之動物模式測試等。</p>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_3">了解細節</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- 實驗室 END-->
                    <!-- 申請表單-->
                    <div role="tabpanel" class="tab-pane fade" id="application" aria-labelledBy="application-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="col-sm-12" ng-repeat="Instrument in instrument |orderBy:'date':true">
                                    <div class="col-sm-10">
                                        <p>
                                            {{Instrument.title}}
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="{{Instrument.fileLink}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>下載檔案</a>
                                    </div>
                                    <div class="col-sm-12 downdate">
                                        <small>
                                            {{Instrument.createdDate}}
                                        </small>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 申請表單 END-->
                </div>
            </div>
        </div>
    </div>
    
</section>
