<section class="content instrument">
    <div class="container">
        <div class="row">
            <div class="bs-example bs-example-tabs" role="tabpanel">
                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"> <a href="instrument#laboratory" role="tab" id="laboratory-tab" data-toggle="tab" aria-controls="laboratory" aria-expanded="true"><h4 class="text_black">核心實驗室</h4></a></li>
                    <li><a href="instrument#Lease" id="Lease-tab" role="tab" data-toggle="tab" aria-controls="Lease"><h4 class="text_black">使用規範</h4></a></li>
                    <li><a href="instrument#application" role="tab" id="application-tab" data-toggle="tab" aria-controls="application"><h4 class="text_black">申請表單</h4></a></li>
                </ul>
                <!-- 租借儀器 -->
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade" id="Lease" aria-labelledBy="Lease-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <!-- rules 1 -->
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物正子分子影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物正子分子影像核心實驗室</h3>
                                        <p>服務時間：週一至週五，上午9:00至下午5:00，工作日分為上、下午時段。<br>
                                        例假日與迴旋加速器維護保養期間暫停。每日提供檢查之項目依正子放射性同位素與製劑之生產為限。預約時段請洽動物正子分子影像核心實驗室。<br>
                                        聯絡電話：(02)2312-3456 #65960 <br>
                                        電子郵件：ntuhpet@gmail.com 
                                        </p>
                                        <a href="https://www.ntuh.gov.tw/nm/research/Animal_PET%E6%A0%B8%E5%BF%83%E5%AF%A6%E9%A9%97%E5%AE%A4%E4%BD%BF%E7%94%A8%E7%99%BB%E8%A8%98.aspx" target="_blank">
                                            <button type="button" class="btn btn-primary">前往相關網站</button>
                                        </a>
                                    </div>
                                </div>
                                <div id="laboratory_1_rules" class="collapse">
                                <div class="row">
                                        <div class="col-sm-12">
                                            <h4>收費標準:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                學術界每個時段 5,000元，產業界每個時段 10,000元。或請洽動物正子分子影像核心實驗室。
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>使用規範:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                小型動物正子暨電腦斷層掃描儀使用規範<br>
                                                為使每位使用者均能有使用的機會，及避免先前制度少數使用者大量預約時段，卻在前一日因為個人因素才臨時取消的情況發生，復考量本實驗室僅單一機台運轉，需有一定之緩衝。新訂定實驗主持人計畫每月使用次數的上限制度。每月工作日之上、下午，共有40~44個時間區段，因此每位實驗室主持人每月上限次數為4個時段。俾解決少數浪費預約登記時段之現象。<br>
(1) 為顧及多數使用者遍及校總區、醫學院及外部機關之情況，預約方式統一為，每月第一個上班日上午八時起，完全以電話預約制，預約次月之排程。若從事之實驗需長期連續性追蹤預排，請洽詢核醫部鄭媚方醫師。<br>
(2) 所登記之時段導因於個人較晚撥入電話登記，而產生向隅之情況，或因急迫因素而需與其他使用者調換時段，請自行與該時段使用者調換時段後，再告知小動物實驗室管理人員，小動物實驗室管理人員，不負責居中協調角色。<br>
(3) 若因個人因素，請於一周前盡速取消，以便安排其他人員遞補該時段之空缺。若非機台故障、製藥失敗或天然災害，經兩次預約登記而未使用者，停止使用權利一個月。<br>
(4) 使用本動物PET/CT之實驗結果欲載入發表文獻時，請於致謝(Acknowledgement)處提及本中心及本核心實驗室。例如：This work was supported in part by the Department of Nuclear Medicine, NTUH and Small Animal PET/CT Core Facility of Neurobiology and Cognitive Science Center, National Taiwan University<br>
(5) 上述規則若有未盡事宜，將再作條文修正增補。<br>
(6) 當您的發表已被接受，請與small animal PET/CT lab分享您的喜悅與成就。

                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center"> 
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_1_rules">了解細節</button>
                                    </div>
                                </div>
                                <hr>
                                <!-- rules 2 -->
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物核磁共振影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物核磁共振影像核心實驗室</h3>
                                        <p>服務時間：每月的15日早上九點後開始預約下個月的時段<br>
                                        每日略分為七個時段： 24:00~6:00、6:00~9:00、9:00~12:00、12:00~15:00、15:00~18:00、18:00~21:00、21:00~24:00。預約時段至少於預定實驗前一週，以書面或e-mail向動物核磁共振影像核心實驗室管理者申請。<br>
                                        聯絡電話：(02) 3366-3617 <br>
                                        電子郵件：hchjoe@ntu.edu.tw
                                        </p>
                                        <a href="http://www.mic.ntu.edu.tw/content/7t%E5%8B%95%E7%89%A9%E7%94%A8%E6%A0%B8%E7%A3%81%E5%85%B1%E6%8C%AF%E5%BD%B1%E5%83%8F%E5%84%80" target="_blank">
                                            <button type="button" class="btn btn-primary">前往相關網站</button>
                                        </a>
                                    </div>
                                </div>
                                <div id="laboratory_2_rules" class="collapse">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>收費標準:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                1.校內：NT2,000元/小時，如有國科會貴儀使用額度則只需付10%現金200元/小時，其餘90%費用1,800元/小時由國科會貴儀額度支付。<br>2.校外：NT3,000元/小時，如有國科會貴儀使用額度則只需付10%現金300元/小時，其餘90%費用2,700元/小時由國科會貴儀額度支付。<br>耗材：氣體麻醉每小時NT500元；使用CryoProbe每小時NT1,000元。
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center"> 
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_2_rules">了解細節</button>
                                    </div>
                                </div>
                                <hr>
                                <!-- rules 3 -->
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物行為核心實驗室.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物行為核心實驗室</h3>
                                        <p>服務時間：開放實驗時段為週一至週日 8:00 AM~ 19:30 PM。<br>聯絡電話：(02) 2312-3456 #88319 <br>電子郵件：ntubehaviorcore@gmail.com</p>
                                        <a href="http://www.mc.ntu.edu.tw/department/lac/public_html/">
                                            <button type="button" class="btn btn-primary">前往相關網站</button>
                                        </a>
                                    </div>
                                </div>
                                <div id="laboratory_3_rules" class="collapse">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>注意事項：</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                1.  請於一周前預約實驗時間（請洽動物行為核心實驗室詢問預約方式）。<br>
                                                2.  假日及晚間時段(五點過後)，禁止動物運送。<br>
                                                3.  動物中心晚間8:00會全面關燈，實驗者請務必於7:30 PM前結束實驗並離開實驗室。<br>
                                                4.  預約晚間或假日時段的使用者，需熟悉行為儀器的使用。<br>
                                                收費標準：請洽動物行為核心實驗室
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>使用規範：</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                國立台灣大學（以下簡稱本校）神經生物與認知科學研究中心為提高動物行為研究在神經生物與認知科學層面之應用，設置各種動物行為儀器以利相關研究進行。動物行為測試目前對於基因表現、臨床醫學、大腦與其他身體組織功能探究以及藥物檢測等各方面研究提供了很多的幫助，為提供本校所屬單位有效管理使用，特訂定本辦法。<br><br>
                                                <h4>壹、服務項目</h4>
                                                1.  自發性活動量記錄<br>
                                                2.  小動物步態分析<br>
                                                3.  恐懼學習記憶<br>
                                                4.  方向學習記憶<br>
                                                5.  運動軌跡<br>
                                                6.  運動平衡測試<br>
                                                7.  握力測試<br>
                                                8.  痛覺測試（包含冷、熱、機械性刺激）<br>
                                                9.  憂鬱症之動物模式測試<br>
                                                10. 焦慮症之動物模式測試<br><br>
                                                <h4>貳、申請服務辦法</h4>
                                                1. 實驗者皆需上網填寫申請單（參見附件二）以預約使用儀器與使用時段。<br>2. 需於實驗前另行預約學習儀器操作之時間。<br>
                                                3. 詳細實驗程序及所需參數設定請自行參閱相關文獻，本中心僅提供一般標準程序供參考。<br><br>    
                                                <h4>參、預約回件</h4>
                                                1. 3天內回覆各儀器使用情形。<br>
                                                2. 預約時段未能前來需於三天前取消預約。<br><br>
                                                <h4>肆、實驗規範</h4>
                                                1. 實驗之動物需保持乾淨，無寄生蟲、細菌感染或病毒感染。嚴禁污染實驗設備及環境。 <br>
                                                2. 實驗數據存取需自備隨身硬碟，存取後自行分析。<br><br>

                                                <h4>伍、動物飼養場所 </h4>
                                                依醫學院實驗動物管理委員會決議，申請者應向動物中心申請動物代養(位於9F)，於實驗前一日將動物遷入8F實驗室，並於當日實驗結束後，將動物遷回9F代養，動物中心顧及動物需每日來回9F及8F，恐造成動物驚慌不利實驗品質，故規劃一動物室，供參與實驗之動物短期居留，居留期限應配合實驗計畫期限，並嚴禁申請者將動物長期繫留8F，動物飼養由實驗者自行添加飼料及飲水，定期更換墊料，動物籠位委由動物中心清洗，並由動物中心依規定收費，詳細收費標準請參照實驗動物中心網站（網址如下：http://www.mc.ntu.edu.tw/department/lac/public_html/ ）。<br><br>

                                                <h4>陸、聯絡人</h4>
                                                e-mail： ntubehaviorcore@gmail.com<br>
                                                地點： 醫學院基礎大樓538R<br>
                                                電話：02-2312-3456 ~ 88319<br><br>

                                                <h4>備註</h4>
                                                論文發表時請致謝本核心實驗室之協助，格式內容如下：<br><br>
                                                Acknowledgements<br><br>

                                                    We thank Behavior Core lab of the Neurobiology and Cognitive Science Center, National Taiwan University for technical and facility supports.


                                                
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center"> 
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_3_rules">了解細節</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 租借儀器 END -->
                    <!-- 實驗室 -->
                    <div role="tabpanel" class="tab-pane fade in active" id="laboratory" aria-labelledBy="laboratory-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="http://www.psy.ntu.edu.tw/LINE/" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物正子分子影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物正子分子影像核心實驗室</h3>
                                        <p>放置地點：台大醫院核子醫學部（台大醫院東址 B1 正子中心）<br>業務主管：核醫部顏若芳主任</p>
                                    </div>
                                </div>
                                <div id="laboratory_1" class="collapse">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>設施簡介:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                「正子放射斷層造影（Positron Emission Tomography）」，簡稱PET，
是一種利用能夠發射正子的放射藥物進行疾病診斷或標定特定目標的影像工具，也是藥物開發的利器。利用「迴旋加速器」產生能射出正子之放射核種，與特定物質（如葡萄糖）或特殊藥物結合，做成帶放射性藥劑注入受檢者體內，再利用正子放射斷層攝影儀，將體內或腦部放出的訊號偵測記錄下來，由電腦處理轉化成身體或腦部各切面的影像，藉以顯示出細胞的代謝情形或藥物在特定目標部位累積的情況，進而透視身體的疾患，或反映出特定部位的某些功能。小動物 PET/CT 具備同時提供功能性正子斷層掃瞄(PET)與結構性 X 光斷層掃瞄(CT)這兩種類型影像的能力，其所產生的 PET 與 CT 的影像，也由於硬體設備之系統整合，幾何上兩種影像可以直接相互融合，藉由影像疊合的輔助，提高判讀與診斷的正確性。台大神經生物與認知科學研究中心於 2007年11月在台大醫學院核子醫學部建置 Animal PET/CT Scanner，提供研究使用。
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_1">了解細節</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物核磁共振影像核心實驗室.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物核磁共振影像核心實驗室</h3>
                                        <p>放置地點：臺大電機二館134室(7T實驗室)<br>儀器型號：BRUKER BIOSPEC 70/30 MRI <br>業務主管：電機系陳志宏教授</p>
                                    </div>
                                </div>
                                <div id="laboratory_2" class="collapse">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>設施簡介:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                磁振造影乃是運用RF射頻波激發體內水、脂肪中的氫原子，使其產生共振，進而產生不同強度的信號所製造出的影像。磁振造影具有1.無輻射傷害、2.多重切面、3.非侵入性、4.幾乎無任何副作用、及5.對生理解剖上有高度的解像能力等優點，核磁共振攝影已成為近年來臨床診斷上相當重要的影像工具。此種使用準確而不必侵入人體的方法為人體內部器官或腦部造影，對醫學的診斷、醫療、與研究工作都十分重要。高場核磁共振影像可針對活體動物進行長期實驗探究，對於基因表現及藥物臨床等相關研究能夠提供相當大之幫助，並結合新型醫學影像之顯影劑與分子生物之技術，在此設備上應用新式具特異標定功能之奈米粒子，使其應用更拓展至動物、植物、材料、食品科技等領域。台大神經生物與認知科學研究中心於 2009年12月在台大校總區電機系建置 Animal 7T MRI，提供研究與教學使用。
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>    
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_2">了解細節</button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-8 col-xs-push-2 col-sm-push-0">
                                        <a href="https://goo.gl/ASWQVy" target="_blank">
                                            <img class="img-responsive center-block" src="images/labs/動物行為核心實驗室.png" alt="">
                                        </a>
                                    </div>
                                    <div class="col-sm-7 col-xs-12">
                                        <h3>動物行為核心實驗室</h3>
                                        <p>放置地點：臺大醫學院實驗動物中心 (臺北市中正區徐州路2號8~10F)<br>業務主管：藥理所符文美教授</p>
                                    </div>
                                </div>
                                <div id="laboratory_3" class="collapse">
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4>設施簡介:</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <blockquote>
                                                以動物行為模式來進行認知神經科學相關基礎研究的主要任務之一是在揭發大腦的生理、心智與行為等功能。基於研究倫理及相關限制，許多實驗操弄並無法直接施行於人體上，藉由利用不同的動物行為模式，可以進一步瞭解各項行為功能的運作歷程，以及這些歷程背後的神經機制與作用。神經生物與認知科學研究中心為提高動物行為研究在神經生物與認知科學層面之應用，於2007年四月由醫學院藥理所符文美教授負責，在台大醫學院動物中心建立動物行為核心實驗設施，設置有各種動物行為測定儀器以利相關研究進行，目前有專任助理負責教學與管理。動物行為測試有助於研究基因變異、轉譯醫學、神經病變以及藥物作用等，提供本校所屬單位使用。動物行為實驗室主要提供以下各項服務來推動相關的研究工作，包括（1）自發性活動量記錄、（2）小動物步態分析、（3）恐懼學習記憶、（4）方向學習記憶、（5）運動軌跡、（6）運動平衡測試、（7）握力測試、（8）痛覺測試（包含冷、熱、機械性刺激）、（9）憂鬱症之動物模式測試、與（10）焦慮症之動物模式測試等。
                                            </blockquote>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn_new btn-md collapsed" data-toggle="collapse" data-target="#laboratory_3">了解細節</button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- 實驗室 END-->
                    <!-- 申請表單-->
                    <div role="tabpanel" class="tab-pane fade" id="application" aria-labelledBy="application-tab">
                        <div class="container">
                            <br>
                            <div class="col-lg-10 col-lg-offset-1">
                                <div class="col-sm-12" ng-repeat="Instrument in instrument |orderBy:'date':true">
                                    <div class="col-sm-10">
                                        <p>
                                            {{Instrument.title}}
                                        </p>
                                    </div>
                                    <div class="col-sm-2">
                                        <a href="{{Instrument.fileLink}}" target="_blank"><i class="fa fa-download" aria-hidden="true"></i>下載檔案</a>
                                    </div>
                                    <div class="col-sm-12 downdate">
                                        <small>
                                            {{Instrument.createdDate}}
                                        </small>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 申請表單 END-->
                </div>
            </div>
        </div>
    </div>
    
</section>
