<section>
    <div class="container">
        <div class="row">
         
            <div class="bs-example bs-example-tabs" role="tabpanel">

                <ul id="myTab" class="nav nav-pills nav-justified " role="tablist">
                    <li class="active"><a  href="instrument#Lease" id="Lease-tab" role="tab" data-toggle="tab" aria-controls="Lease" aria-expanded="true"><h4 class="text_black">租借儀器</h4></a></li>
                    <li> <a  href="instrument#laboratory" role="tab" id="laboratory-tab" data-toggle="tab" aria-controls="laboratory"><h4 class="text_black">實驗室</h4></a></li>
                    <li><a  href="instrument#application" role="tab" id="application-tab" data-toggle="tab" aria-controls="application"><h4 class="text_black">申請表單</h4></a></li>
                </ul>
                <!-- 租借儀器 -->
                <div id="myTabContent" class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="Lease" aria-labelledBy="Lease-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4>Animal PET / CT</h4>
                                </div>
                                <div class="col-sm-7">
                                    <h4>小型動物正子暨電腦斷層掃描儀</h4>
                                </div>
                               
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>服務:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="muted">可接受校外委託代為檢測、分析等</<p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>放置地點 : </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="muted">台大醫院核子醫學部正子中心</<p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>服務時間 :  </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <p class="muted">週一至週五，上午9:00至下午5:00，工作日分為上、下午時段。 例假日與迴旋加速器維護保養期間暫停。 每日提供檢查之項目依正子放射性同位素與製劑之生產為限。</<p>
                                </div>
                            </div>
                            
                            <br>
                            <div id="detail" class="collapse">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>儀器功能： </h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="muted">本儀器用於小型動物進行正子造影研究之用。 本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理(如：聽覺、痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式(如：巴金森氏病)、基因治療等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                            </<p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>服務聯絡人： </h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="muted">林培堯 先生 Tel：(02)2312-3456 #65960 Email：ntuhpet@gmail.com
                                            </<p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <center>
                                            <button type="button" class="btn btn-primary">申請表單下載</button>
                                        </center>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary">前往申請網站</button>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div class="row">
                             <div class="col-sm-12">
                                    <button type="button" class="btn" data-toggle="collapse" data-parent="#detail" data-target=".detail">
                                        <h4><i class="fa fa-play-circle" aria-hidden="true"></i>了解細節</h4></button>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4><button type="button" class="btn_new btn-lg collapsed" data-toggle="collapse" data-target="#detail">了解細節</button></h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4>RUKER BIOSPEC 70/30 MRI</h4>
                                </div>
                                <div class="col-sm-7">
                                    <h4>7T動物用核磁共振影像儀</h4>
                                </div>
                                
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>服務:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="muted">可接受校外委託代為檢測、分析等</<p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>放置地點 : </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="muted">台大醫院核子醫學部正子中心</<p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>服務時間 :  </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <p class="muted">週一至週五，上午9:00至下午5:00，工作日分為上、下午時段。 例假日與迴旋加速器維護保養期間暫停。 每日提供檢查之項目依正子放射性同位素與製劑之生產為限。</<p>
                                </div>
                            </div>
                            <br>

                            <div id="demo" class="collapse">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>儀器功能： </h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="muted">本儀器用於小型動物進行正子造影研究之用。 本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理(如：聽覺、痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式(如：巴金森氏病)、基因治療等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                            </<p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4>服務聯絡人： </h4>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="muted">林培堯 先生 Tel：(02)2312-3456 #65960 Email：ntuhpet@gmail.com
                                            </<p>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <center>
                                            <button type="button" class="btn btn-primary">申請表單下載</button>
                                        </center>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary">前往申請網站</button>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- <div id="row">
                            <div class="col-sm-12">
                                    <button type="button" class="btn" data-toggle="collapse" data-parent="#demo" data-target=".demo">
                                        <h4><i class="fa fa-play-circle" aria-hidden="true"></i>了解細節</h4></button>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4><button type="button" class="btn_new btn-lg collapsed" data-toggle="collapse" data-target="#demo">了解細節</button></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 租借儀器 END -->
                    <!-- 實驗室 -->
                    <div role="tabpanel" class="tab-pane fade" id="laboratory" aria-labelledBy="laboratory-tab">
                        <div class="container">
                            <br>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <h3>動物正子圖核心實驗室</h3>
                                    <p>本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理 ( 如：聽覺痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式如巴金森氏病)、基因治療 等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <h4><i class="fa fa-play-circle" aria-hidden="true"></i>了解細節</h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#">
                                        <img class="img-responsive center-block" src="http://placehold.it/200x200" alt="">
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <h3>動物正子圖核心實驗室</h3>
                                    <p>本校醫學院附設醫院核子醫學部正子中心迴旋加速器生產之短半衰期藥物可做動物生理 ( 如：聽覺痛覺)、病理變化(如：腫瘤療效)、疾病之動物模式如巴金森氏病)、基因治療 等之分子生物學研究，以及新的正子放射藥劑研發、新藥或治療模式之研究與開發等。
                                    </p>
                                </div>
                                <div class="col-md-2">
                                    <h4><i class="fa fa-play-circle" aria-hidden="true"></i>了解細節</h4>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!-- 實驗室 END-->

                    <!-- 申請表單-->
                    <div role="tabpanel" class="tab-pane fade" id="application" aria-labelledBy="application-tab">
                        <div class="container">
             <br>
  <table class="table table-hover" ng-repeat="Instrument in instrument">
   
    <tbody>
      <tr>
        <td class="col-md-8"><p>{{Instrument.title}}</p></td>
        <td class="col-md-4"><p><a href="{{Instrument.fileLink}}"><i class="fa fa-download" aria-hidden="true">下載檔案</i></a></p></td>      
      </tr>      
    </tbody>
  </table>
</div>
                    </div>
                    <!-- 申請表單 END-->
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- Contact Section -->
<!-- <div class="container">
  
  <div id="demo" class="collapse">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div> -->
